# Imports

In [399]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

# Data import & Cleaning

In [400]:
train_df = pd.read_csv('../data/train.csv')
test_df = pd.read_csv('../data/test.csv')
spray_df = pd.read_csv('../data/spray.csv')
weather_df = pd.read_csv('../data/weather.csv')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

***Weather Initial Analysis***

In [401]:
weather_df.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,-,-,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,-,-,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [402]:
weather_df.columns.tolist()

['Station',
 'Date',
 'Tmax',
 'Tmin',
 'Tavg',
 'Depart',
 'DewPoint',
 'WetBulb',
 'Heat',
 'Cool',
 'Sunrise',
 'Sunset',
 'CodeSum',
 'Depth',
 'Water1',
 'SnowFall',
 'PrecipTotal',
 'StnPressure',
 'SeaLevel',
 'ResultSpeed',
 'ResultDir',
 'AvgSpeed']

In [403]:
# Check for missing values

weather_df.isnull().sum().sort_values(ascending= False)

Station        0
Date           0
ResultDir      0
ResultSpeed    0
SeaLevel       0
StnPressure    0
PrecipTotal    0
SnowFall       0
Water1         0
Depth          0
CodeSum        0
Sunset         0
Sunrise        0
Cool           0
Heat           0
WetBulb        0
DewPoint       0
Depart         0
Tavg           0
Tmin           0
Tmax           0
AvgSpeed       0
dtype: int64

In [404]:
weather_df.isnull().sum()[weather_df.isnull().sum() > 0]

Series([], dtype: int64)

In [405]:
# Checking for duplicated values

weather_df.duplicated().sum()

0

In [406]:
weather_df.duplicated().sum()[weather_df.duplicated().sum() > 0]

array([], dtype=int64)

In [407]:
weather_df.shape

(2944, 22)

In [408]:
# Check for 'M' or missing values in certain columns

weather_df.isin(['M']).sum()[weather_df.isin(['M']).sum() > 0].sort_values(ascending = False)

Water1         2944
Depart         1472
Depth          1472
SnowFall       1472
Tavg             11
Heat             11
Cool             11
SeaLevel          9
WetBulb           4
StnPressure       4
AvgSpeed          3
PrecipTotal       2
dtype: int64

In [409]:
# Check for '-' in Sunrise/Sunset columns

weather_df.isin(['-']).sum()[weather_df.isin(['-']).sum() > 0].sort_values(ascending = False)

Sunrise    1472
Sunset     1472
dtype: int64

In [410]:
# Check for 'T' or trace values

weather_df.isin(['  T']).sum()[weather_df.isin(['  T']).sum() > 0].sort_values(ascending = False)

PrecipTotal    318
SnowFall        12
dtype: int64

In [411]:
# Check for '0' values

weather_df.isin(['0']).sum()[weather_df.isin(['0']).sum() > 0].sort_values(ascending = False)

Heat     1870
Depth    1472
dtype: int64

In [412]:
# Check for '0' values that are in float form, aka '0.0'

weather_df.isin(['0.0']).sum()[weather_df.isin(['0.0']).sum() > 0].sort_values(ascending = False)

SnowFall    1459
dtype: int64

***Feature Engineering: imputing / dropping features***

In [413]:
# Drop columns that have high missing values (almost, if not 100%) of 'M' or '0'

weather_df = weather_df.drop(columns = ['Water1', 'Depth', 'SnowFall'])

In [414]:
# Create a function to impute for Tavg, Heat and Cool

def impute_tavg_heat_cool(row):
    # Impute for 'M' in Tavg
    if row['Tavg'] == 'M':
        row['Tavg'] = round((row['Tmax'] - row['Tmin'])/2)
    
    # Impute for 'M' in Heat and Cool
    if row['Cool'] == 'M' or row['Heat'] == 'M':
        hc = 65 - row['Tavg']
        if hc < 0:
            row['Cool'] = hc
            row['Heat'] = 0
        elif hc > 0:
            row['Cool'] = 0
            row['Heat'] = hc
        else:
            row['Cool'] = row['Heat'] = 0
    return row

In [415]:
weather_df = weather_df.apply(impute_tavg_heat_cool, axis = 1)

In [416]:
# Create function to extract 30 year normal temperature from station 1's readings

def extract_normal(row):
    if row['Station'] == 1:
        row['Normal'] = int(row['Tavg']) - int(row['Depart'])
    return row

In [417]:
# Apply 30 year temperature to station 2's reading

def apply_normal(row):
    if row['Station'] == 2:
        row['Normal'] = weather_df[(weather_df['Date'] == row['Date']) & (weather_df['Station'] ==1)]['Normal'].values[0]
    return row

In [418]:
# Apply both function into weather_df

weather_df = weather_df.apply(extract_normal, axis = 1)
weather_df = weather_df.apply(apply_normal, axis = 1)

In [419]:
weather_df.head()

,AvgSpeed,CodeSum,Cool,Date,Depart,DewPoint,Heat,Normal,PrecipTotal,ResultDir,ResultSpeed,SeaLevel,Station,StnPressure,Sunrise,Sunset,Tavg,Tmax,Tmin,WetBulb
0,9.2,,2,2007-05-01,14,51,0,53.0,0.00,27,1.7,29.82,1,29.10,0448,1849,67,83,50,56
1,9.6,,3,2007-05-01,M,51,0,53.0,0.00,25,2.7,29.82,2,29.18,-,-,68,84,52,57
2,13.4,BR,0,2007-05-02,-3,42,14,54.0,0.00,4,13.0,30.09,1,29.38,0447,1850,51,59,42,47
3,13.4,BR HZ,0,2007-05-02,M,42,13,54.0,0.00,2,13.3,30.08,2,29.44,-,-,52,60,43,47
4,11.9,,0,2007-05-03,2,40,9,54.0,0.00,7,11.7,30.12,1,29.39,0446,1851,56,66,46,48

In [420]:
# Rearrange the columns
weather_df = weather_df[['Station',
 'Date',
 'Tmax',
 'Tmin',
 'Tavg',
 'Depart',
 'DewPoint',
 'WetBulb',
 'Heat',
 'Cool',
 'Normal',
 'Sunrise',
 'Sunset',
 'CodeSum',
 'PrecipTotal',
 'StnPressure',
 'SeaLevel',
 'ResultSpeed',
 'ResultDir',
 'AvgSpeed']]

In [421]:
weather_df.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Normal,Sunrise,Sunset,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,53.0,0448,1849,,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,53.0,-,-,,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,54.0,0447,1850,BR,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,54.0,-,-,BR HZ,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,54.0,0446,1851,,0.00,29.39,30.12,11.7,7,11.9

In [422]:
# Checking for the remaining 'M' values over the entire notebook

weather_df.isin(['M']).sum()[weather_df.isin(['M']).sum() > 0]

Depart         1472
WetBulb           4
PrecipTotal       2
StnPressure       4
SeaLevel          9
AvgSpeed          3
dtype: int64

In [423]:
# Impute for remaining columns as listed above: Depart, WetBulb, PrecipTotal,StnPressure, SeaLevel, AvgSpeed

def impute_M(row):
    replace_dict = {}
    for index in row.index:
        if row[index] == 'M':
            replace_dict[index] = 'M'
    
    if replace_dict:
        if'Depart' in replace_dict:
            row['Depart'] = int(row['Tavg']) - int(row['Normal'])
            del replace_dict['Depart']

        for key, value in replace_dict.items():
            #Retrive from station 1 if Station 2 is 'M' and vice versa
            if row['Station'] == 2:
                row[key] = weather_df[(weather_df['Date'] == row['Date']) & (weather_df['Station'] == 1)][key].values[0]
            else:
                row[key] = weather_df[(weather_df['Date'] == row['Date']) & (weather_df['Station'] == 2)][key].values[0]

    return row

In [424]:
weather_df = weather_df.apply(impute_M, axis = 1)

In [425]:
weather_df.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Normal,Sunrise,Sunset,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,53.0,0448,1849,,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,15,51,57,0,3,53.0,-,-,,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,54.0,0447,1850,BR,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,-2,42,47,13,0,54.0,-,-,BR HZ,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,54.0,0446,1851,,0.00,29.39,30.12,11.7,7,11.9

In [426]:
# Check again if there's any rows with 'M' left out

weather_df.isin(['M']).sum()[weather_df.isin(['M']).sum() > 0].sort_values(ascending = False)

StnPressure    2
dtype: int64

In [427]:
# Lets check these 2 rows of StnPressure

weather_df[weather_df['StnPressure'] == 'M']

# Function didnt work becuase both station 1 & 2 both have 'M' values for StnPressure

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Normal,Sunrise,Sunset,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
2410,1,2013-08-10,81,64,73,0,57,63,0,8,73.0,0454,1900,,0.00,M,30.08,5.3,5,6.5
2411,2,2013-08-10,81,68,75,2,55,63,0,10,73.0,-,-,,0.00,M,30.07,6.0,6,7.4

In [428]:
# In that case, lets just impute the StnPressure input of the day before

weather_df.at[2410, 'StnPressure'] = weather_df[weather_df['Date'] == '2013-08-09']['StnPressure'].values[0]
weather_df.at[2411, 'StnPressure'] = weather_df[weather_df['Date'] == '2013-08-09']['StnPressure'].values[0]

In [429]:
# Check the 2 rows again

weather_df.loc[[2410, 2411]]

# StnPressure imputed properly

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Normal,Sunrise,Sunset,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
2410,1,2013-08-10,81,64,73,0,57,63,0,8,73.0,0454,1900,,0.00,29.28,30.08,5.3,5,6.5
2411,2,2013-08-10,81,68,75,2,55,63,0,10,73.0,-,-,,0.00,29.28,30.07,6.0,6,7.4

In [430]:
# Not to deal with '  T' inputs, we will be changing '  T' to 0.01
weather_df['PrecipTotal'] = weather_df['PrecipTotal'].apply(lambda x : 0.01 if '  T' in x else x)

In [431]:
# Check if there are inputs with '  T' remaining

weather_df.isin(['  T']).sum()[weather_df.isin(['  T']).sum() > 0].sort_values(ascending = False)

# No more rows with '  T' remaining

Series([], dtype: int64)

In [432]:
# We will now change the date column from string to datetime

weather_df['Date'] = pd.to_datetime(weather_df['Date'])

In [433]:
# Check if date column is changed to datetime

weather_df.info()

# Changed confirmed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Station      2944 non-null   int64
 1   Date         2944 non-null   datetime64[ns]
 2   Tmax         2944 non-null   int64
 3   Tmin         2944 non-null   int64
 4   Tavg         2944 non-null   object
 5   Depart       2944 non-null   object
 6   DewPoint     2944 non-null   int64
 7   WetBulb      2944 non-null   object
 8   Heat         2944 non-null   object
 9   Cool         2944 non-null   object
 10  Normal       2944 non-null   float64
 11  Sunrise      2944 non-null   object
 12  Sunset       2944 non-null   object
 13  CodeSum      2944 non-null   object
 14  PrecipTotal  2944 non-null   object
 15  StnPressure  2944 non-null   object
 16  SeaLevel     2944 non-null   object
 17  ResultSpeed  2944 non-null   float64
 18  ResultDir    2944 non-null   int64
 19  AvgSpeed     2944 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(5), object(12)
memory usage: 460.1+ KB

In [434]:
# Impute sunrise / sunset for some rows that marked their sunrise / sunset as '-'

def impute_sun(row):
    if row['Station'] == 2:
        row['Sunrise'] = weather_df[(weather_df['Date'] == row['Date']) & (weather_df['Station'] == 1)]['Sunrise'].values[0]
        row['Sunset'] = weather_df[(weather_df['Date'] == row['Date']) & (weather_df['Station'] == 1)]['Sunset'].values[0]
    return row

In [435]:
# Apply the impute_sun function

weather_df = weather_df.apply(impute_sun, axis = 1)

In [436]:
# Check if the function have imputed correctly

weather_df.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Normal,Sunrise,Sunset,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,53.0,0448,1849,,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,15,51,57,0,3,53.0,0448,1849,,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,54.0,0447,1850,BR,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,-2,42,47,13,0,54.0,0447,1850,BR HZ,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,54.0,0446,1851,,0.00,29.39,30.12,11.7,7,11.9

In [437]:
# Check if there are any '- that are left out

weather_df.isin(['-']).sum()[weather_df.isin(['-']).sum() > 0].sort_values(ascending = False)

Series([], dtype: int64)

There are various weather phenomeno recorded everyday under 'CodeSum' column. Might need to look into the weather patterns to see if there are some kind of correlation with our target variable.

There are some input like TSRA that could have been a mix of thunderstorm for TS and rain for RA that is not included in the data dictionary provided.

In [438]:
# First to separate the codes in accordance to the weather codenames provided within the data dictionary

w_codenames = ['+FC','FC', 'TS', 'GR', 'RA', 'DZ', 'SN', 'SG', 'GS', 'PL',
         'IC', 'FG+', 'FG', 'BR', 'UP', 'HZ', 'FU', 'VA', 'DU', 'DS',
         'PO', 'SA', 'SS', 'PY', 'SQ', 'DR', 'SH', 'FZ', 'MI', 'PR',
         'BC', 'BL', 'VC']

weather_df['CodeSum'] = weather_df['CodeSum'].apply(lambda x: ' '. join([t for t in x.split(' ') if t in w_codenames]))

In [439]:
# To also create a new column feature with the number of weather phenomena within a single day 

weather_df['n_weather_per_day'] = weather_df['CodeSum'].apply(lambda x: len(x.split()))

In [440]:
snow = ['SN', 'SG', 'GS', 'PL', 'IC', 'DR', 'BC']
windy = ['SQ', 'DS', 'SS', 'PO', 'BL']
rain = ['TS', 'GR', 'RA', 'DZ', 'SH']
lowvis = ['FG+', 'FG', 'BR', 'HZ']
codesum_others = ['UP', 'VA', 'DU', 'SA', 'FZ', '+FC', 'FC', 'FU', 'PY', 'MI', 'PR', 'BC', 'BL', 'VC' ]

In [441]:
# Make a function to dummify each weather codenames based on their category above

def w_code_dummy_split(row):
    w_codes = row['CodeSum'].split()

    # Check for weather conditions
    if any(code in w_codes for code in snow):
        row['snow'] = 1
    
    if any(code in w_codes for code in windy):
        row['windy'] = 1

    if any(code in w_codes for code in rain):
        row['rain'] = 1

    if any(code in w_codes for code in lowvis):
        row['lowvis'] = 1

    if any(code in w_codes for code in codesum_others):
        row['codesum_others'] = 1

    return row

In [442]:
weather_df = weather_df.apply(w_code_dummy_split, axis = 1)

In [443]:
weather_df.head()

,AvgSpeed,CodeSum,Cool,Date,Depart,DewPoint,Heat,Normal,PrecipTotal,ResultDir,ResultSpeed,SeaLevel,Station,StnPressure,Sunrise,Sunset,Tavg,Tmax,Tmin,WetBulb,codesum_others,lowvis,n_weather_per_day,rain,snow,windy
0,9.2,,2,2007-05-01,14,51,0,53.0,0.00,27,1.7,29.82,1,29.10,0448,1849,67,83,50,56,NaN,NaN,0,NaN,NaN,NaN
1,9.6,,3,2007-05-01,15,51,0,53.0,0.00,25,2.7,29.82,2,29.18,0448,1849,68,84,52,57,NaN,NaN,0,NaN,NaN,NaN
2,13.4,BR,0,2007-05-02,-3,42,14,54.0,0.00,4,13.0,30.09,1,29.38,0447,1850,51,59,42,47,NaN,1.0,1,NaN,NaN,NaN
3,13.4,BR HZ,0,2007-05-02,-2,42,13,54.0,0.00,2,13.3,30.08,2,29.44,0447,1850,52,60,43,47,NaN,1.0,2,NaN,NaN,NaN
4,11.9,,0,2007-05-03,2,40,9,54.0,0.00,7,11.7,30.12,1,29.39,0446,1851,56,66,46,48,NaN,NaN,0,NaN,NaN,NaN

In [444]:
# Rearrange the columns
weather_df = weather_df[['Station',
 'Date',
 'Tmax',
 'Tmin',
 'Tavg',
 'Depart',
 'DewPoint',
 'WetBulb',
 'Heat',
 'Cool',
 'Normal',
 'Sunrise',
 'Sunset',
 'CodeSum',
 'PrecipTotal',
 'StnPressure',
 'SeaLevel',
 'ResultSpeed',
 'ResultDir',
 'AvgSpeed',
 'snow',
 'windy',
 'rain',
 'lowvis',
 'codesum_others']]

In [445]:
weather_df.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Normal,Sunrise,Sunset,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,snow,windy,rain,lowvis,codesum_others
0,1,2007-05-01,83,50,67,14,51,56,0,2,53.0,0448,1849,,0.00,29.10,29.82,1.7,27,9.2,NaN,NaN,NaN,NaN,NaN
1,2,2007-05-01,84,52,68,15,51,57,0,3,53.0,0448,1849,,0.00,29.18,29.82,2.7,25,9.6,NaN,NaN,NaN,NaN,NaN
2,1,2007-05-02,59,42,51,-3,42,47,14,0,54.0,0447,1850,BR,0.00,29.38,30.09,13.0,4,13.4,NaN,NaN,NaN,1.0,NaN
3,2,2007-05-02,60,43,52,-2,42,47,13,0,54.0,0447,1850,BR HZ,0.00,29.44,30.08,13.3,2,13.4,NaN,NaN,NaN,1.0,NaN
4,1,2007-05-03,66,46,56,2,40,48,9,0,54.0,0446,1851,,0.00,29.39,30.12,11.7,7,11.9,NaN,NaN,NaN,NaN,NaN

In [446]:
weather_df[['snow', 'windy', 'rain', 'lowvis', 'codesum_others']].sum()

snow                 6.0
windy                3.0
rain              1007.0
lowvis             882.0
codesum_others       9.0
dtype: float64

In [447]:
# Will be dropping snow, windy and others as  their occurence is very low

weather_df = weather_df.drop(columns= ['snow', 'windy', 'codesum_others'])

In [448]:
# Change all datatype to float

for col in weather_df.columns:
    try:
        weather_df[col] = weather_df[col].astype(float)
    except:
        print(col, 'cannot be transformed into float')
        pass

Date cannot be transformed into float
CodeSum cannot be transformed into float

In [449]:
# Seems about right

weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Station      2944 non-null   float64
 1   Date         2944 non-null   datetime64[ns]
 2   Tmax         2944 non-null   float64
 3   Tmin         2944 non-null   float64
 4   Tavg         2944 non-null   float64
 5   Depart       2944 non-null   float64
 6   DewPoint     2944 non-null   float64
 7   WetBulb      2944 non-null   float64
 8   Heat         2944 non-null   float64
 9   Cool         2944 non-null   float64
 10  Normal       2944 non-null   float64
 11  Sunrise      2944 non-null   float64
 12  Sunset       2944 non-null   float64
 13  CodeSum      2944 non-null   object
 14  PrecipTotal  2944 non-null   float64
 15  StnPressure  2944 non-null   float64
 16  SeaLevel     2944 non-null   float64
 17  ResultSpeed  2944 non-null   float64
 18  ResultDir    2944 non-null   float64
 19  AvgSpeed     2944 non-null   float64
 20  rain         1007 non-null   float64
 21  lowvis       882 non-null    float64
dtypes: datetime64[ns](1), float64(20), object(1)
memory usage: 506.1+ KB

Merging Station 1 and Station 2 results to make our analysis easier

In [450]:
weather_df = weather_df.groupby('Date').sum() / 2
weather_df = weather_df.drop(columns = ['Station', 'Normal']).reset_index()

C:\Users\Admin\AppData\Local\Temp\ipykernel_1740\269615993.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  weather_df = weather_df.groupby('Date').sum() / 2

In [451]:
weather_df.head()

,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,rain,lowvis
0,2007-05-01,83.5,51.0,67.5,14.5,51.0,56.5,0.0,2.5,448.0,1849.0,0.000,29.140,29.820,2.20,26.0,9.40,0.0,0.0
1,2007-05-02,59.5,42.5,51.5,-2.5,42.0,47.0,13.5,0.0,447.0,1850.0,0.000,29.410,30.085,13.15,3.0,13.40,0.0,1.0
2,2007-05-03,66.5,47.0,57.0,3.0,40.0,49.0,8.0,0.0,446.0,1851.0,0.000,29.425,30.120,12.30,6.5,12.55,0.0,0.5
3,2007-05-04,72.0,50.0,36.0,-18.0,41.5,50.0,29.0,0.0,444.0,1852.0,0.005,29.335,30.045,10.25,7.5,10.60,0.5,0.0
4,2007-05-05,66.0,53.5,60.0,5.0,38.5,49.5,5.0,0.0,443.0,1853.0,0.010,29.430,30.095,11.45,7.0,11.75,0.0,0.0

In [452]:
# Add year, month , week and day of week features

weather_df['Year'] = weather_df['Date'].apply(lambda x: x.year)
weather_df['Month'] = weather_df['Date'].apply(lambda x: x.month)
weather_df['Week'] = weather_df['Date'].apply(lambda x: x.week)
weather_df['DayOfWeek'] = weather_df['Date'].apply(lambda x: x.dayofweek)

In [453]:
weather_df.head()

,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,rain,lowvis,Year,Month,Week,DayOfWeek
0,2007-05-01,83.5,51.0,67.5,14.5,51.0,56.5,0.0,2.5,448.0,1849.0,0.000,29.140,29.820,2.20,26.0,9.40,0.0,0.0,2007,5,18,1
1,2007-05-02,59.5,42.5,51.5,-2.5,42.0,47.0,13.5,0.0,447.0,1850.0,0.000,29.410,30.085,13.15,3.0,13.40,0.0,1.0,2007,5,18,2
2,2007-05-03,66.5,47.0,57.0,3.0,40.0,49.0,8.0,0.0,446.0,1851.0,0.000,29.425,30.120,12.30,6.5,12.55,0.0,0.5,2007,5,18,3
3,2007-05-04,72.0,50.0,36.0,-18.0,41.5,50.0,29.0,0.0,444.0,1852.0,0.005,29.335,30.045,10.25,7.5,10.60,0.5,0.0,2007,5,18,4
4,2007-05-05,66.0,53.5,60.0,5.0,38.5,49.5,5.0,0.0,443.0,1853.0,0.010,29.430,30.095,11.45,7.0,11.75,0.0,0.0,2007,5,18,5

In [454]:
# Export cleaned dataset

weather_df.to_csv('../data/cleaned_weather.csv', index = False)

***Train***

In [455]:
# Add Year, Month, Week and Day of Week features
train_df['Date'] = pd.to_datetime(train_df['Date'])
train_df['Year'] = train_df['Date'].apply(lambda x: x.year)
train_df['Month'] = train_df['Date'].apply(lambda x: x.month)
train_df['Week'] = train_df['Date'].apply(lambda x: x.week)
train_df['DayOfWeek'] = train_df['Date'].apply(lambda x: x.dayofweek)

In [456]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10506 entries, 0 to 10505
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    10506 non-null  datetime64[ns]
 1   Address                 10506 non-null  object
 2   Species                 10506 non-null  object
 3   Block                   10506 non-null  int64
 4   Street                  10506 non-null  object
 5   Trap                    10506 non-null  object
 6   AddressNumberAndStreet  10506 non-null  object
 7   Latitude                10506 non-null  float64
 8   Longitude               10506 non-null  float64
 9   AddressAccuracy         10506 non-null  int64
 10  NumMosquitos            10506 non-null  int64
 11  WnvPresent              10506 non-null  int64
 12  Year                    10506 non-null  int64
 13  Month                   10506 non-null  int64
 14  Week                    10506 non-null  int64
 15  DayOfWeek               10506 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(8), object(5)
memory usage: 1.3+ MB

In [457]:
# Check for missing values

weather_df.isnull().sum().sort_values(ascending= False)

Date           0
StnPressure    0
Week           0
Month          0
Year           0
lowvis         0
rain           0
AvgSpeed       0
ResultDir      0
ResultSpeed    0
SeaLevel       0
PrecipTotal    0
Tmax           0
Sunset         0
Sunrise        0
Cool           0
Heat           0
WetBulb        0
DewPoint       0
Depart         0
Tavg           0
Tmin           0
DayOfWeek      0
dtype: int64

In [458]:
train_df.isnull().sum()[train_df.isnull().sum() > 0]

Series([], dtype: int64)

In [459]:
# Checking for duplicated values

train_df.duplicated().sum()

813

In [460]:
train_df.duplicated().sum()[train_df.duplicated().sum() > 0]

array([813], dtype=int64)

In [461]:
duplicates = train_df[train_df.duplicated()]
print(duplicates)

            Date                                            Address  \
99    2007-06-26     2200 West 113th Street, Chicago, IL 60643, USA
295   2007-07-11     2200 West 113th Street, Chicago, IL 60643, USA
351   2007-07-11     3500 West 116th Street, Chicago, IL 60655, USA
353   2007-07-11     3500 West 116th Street, Chicago, IL 60655, USA
512   2007-07-18  3300 West Randolph Street, Chicago, IL 60612, USA
531   2007-07-18        South Stony Island Avenue, Chicago, IL, USA
548   2007-07-18          3700 118th Street, Chicago, IL 60617, USA
587   2007-07-19          3700 118th Street, Chicago, IL 60617, USA
588   2007-07-19          3700 118th Street, Chicago, IL 60617, USA
589   2007-07-19          3700 118th Street, Chicago, IL 60617, USA
590   2007-07-19          3700 118th Street, Chicago, IL 60617, USA
591   2007-07-19          3700 118th Street, Chicago, IL 60617, USA
593   2007-07-19          3700 118th Street, Chicago, IL 60617, USA
602   2007-07-25                South Doty Avenue, Chicago, IL, USA
604   2007-07-25                South Doty Avenue, Chicago, IL, USA
605   2007-07-25                South Doty Avenue, Chicago, IL, USA
606   2007-07-25                South Doty Avenue, Chicago, IL, USA
607   2007-07-25                South Doty Avenue, Chicago, IL, USA
608   2007-07-25                South Doty Avenue, Chicago, IL, USA
609   2007-07-25                South Doty Avenue, Chicago, IL, USA
611   2007-07-25                South Doty Avenue, Chicago, IL, USA
612   2007-07-25                South Doty Avenue, Chicago, IL, USA
613   2007-07-25                South Doty Avenue, Chicago, IL, USA
615   2007-07-25                South Doty Avenue, Chicago, IL, USA
616   2007-07-25                South Doty Avenue, Chicago, IL, USA
617   2007-07-25                South Doty Avenue, Chicago, IL, USA
619   2007-07-25                South Doty Avenue, Chicago, IL, USA
620   2007-07-25                South Doty Avenue, Chicago, IL, USA
621   2007-07-25                South Doty Avenue, Chicago, IL, USA
622   2007-07-25                South Doty Avenue, Chicago, IL, USA
623   2007-07-25                South Doty Avenue, Chicago, IL, USA
624   2007-07-25                South Doty Avenue, Chicago, IL, USA
626   2007-07-25                South Doty Avenue, Chicago, IL, USA
627   2007-07-25                South Doty Avenue, Chicago, IL, USA
628   2007-07-25                South Doty Avenue, Chicago, IL, USA
629   2007-07-25                South Doty Avenue, Chicago, IL, USA
630   2007-07-25                South Doty Avenue, Chicago, IL, USA
631   2007-07-25                South Doty Avenue, Chicago, IL, USA
634   2007-07-25                South Doty Avenue, Chicago, IL, USA
635   2007-07-25                South Doty Avenue, Chicago, IL, USA
636   2007-07-25                South Doty Avenue, Chicago, IL, USA
637   2007-07-25                South Doty Avenue, Chicago, IL, USA
638   2007-07-25                South Doty Avenue, Chicago, IL, USA
639   2007-07-25                South Doty Avenue, Chicago, IL, USA
640   2007-07-25                South Doty Avenue, Chicago, IL, USA
641   2007-07-25                South Doty Avenue, Chicago, IL, USA
642   2007-07-25                South Doty Avenue, Chicago, IL, USA
643   2007-07-25                South Doty Avenue, Chicago, IL, USA
644   2007-07-25                South Doty Avenue, Chicago, IL, USA
645   2007-07-25                South Doty Avenue, Chicago, IL, USA
646   2007-07-25                South Doty Avenue, Chicago, IL, USA
647   2007-07-25                South Doty Avenue, Chicago, IL, USA
648   2007-07-25                South Doty Avenue, Chicago, IL, USA
649   2007-07-25                South Doty Avenue, Chicago, IL, USA
650   2007-07-25                South Doty Avenue, Chicago, IL, USA
651   2007-07-25                South Doty Avenue, Chicago, IL, USA
652   2007-07-25                South Doty Avenue, Chicago, IL, USA
653   2007-07-25                South Doty Avenue, Chicago, IL, USA
654   2007-07-25                South Doty Avenue, Chicago, IL, USA
655   2007-07-25                South Doty Avenue, Chicago, IL, USA
656   2007-07-25                South Doty Avenue, Chicago, IL, USA
657   2007-07-25                South Doty Avenue, Chicago, IL, USA
658   2007-07-25                South Doty Avenue, Chicago, IL, USA
659   2007-07-25                South Doty Avenue, Chicago, IL, USA
660   2007-07-25                South Doty Avenue, Chicago, IL, USA
661   2007-07-25                South Doty Avenue, Chicago, IL, USA
662   2007-07-25                South Doty Avenue, Chicago, IL, USA
667   2007-07-25        South Stony Island Avenue, Chicago, IL, USA
668   2007-07-25        South Stony Island Avenue, Chicago, IL, USA
670   2007-07-25        South Stony Island Avenue, Chicago, IL, USA
671   2007-07-25        South Stony Island Avenue, Chicago, IL, USA
672   2007-07-25        South Stony Island Avenue, Chicago, IL, USA
675   2007-07-25        South Stony Island Avenue, Chicago, IL, USA
676   2007-07-25        South Stony Island Avenue, Chicago, IL, USA
678   2007-07-25        South Stony Island Avenue, Chicago, IL, USA
679   2007-07-25        South Stony Island Avenue, Chicago, IL, USA
680   2007-07-25        South Stony Island Avenue, Chicago, IL, USA
682   2007-07-25        South Stony Island Avenue, Chicago, IL, USA
683   2007-07-25        South Stony Island Avenue, Chicago, IL, USA
684   2007-07-25        South Stony Island Avenue, Chicago, IL, USA
814   2007-08-01     2200 West 113th Street, Chicago, IL 60643, USA
819   2007-08-01     2200 West 113th Street, Chicago, IL 60643, USA
854   2007-08-01   7500 North Oakley Avenue, Chicago, IL 60645, USA
857   2007-08-01   7500 North Oakley Avenue, Chicago, IL 60645, USA
861   2007-08-01     1500 North Long Avenue, Chicago, IL 60651, USA
886   2007-08-01  4900 West Balmoral Avenue, Chicago, IL 60630, USA
890   2007-08-01  5800 North Western Avenue, Chicago, IL 60659, USA
905   2007-08-01  University of Illinois at Chicago, 1100 South ...
934   2007-08-01                                   Chicago, IL, USA
977   2007-08-01      4600 Milwaukee Avenue, Chicago, IL 60630, USA
996   2007-08-01  2700 South Western Avenue, Chicago, IL 60608, USA
1000  2007-08-01    6800 West Belden Avenue, Chicago, IL 60707, USA
1012  2007-08-01      1000 West 95th Street, Chicago, IL 60643, USA
1018  2007-08-01  1000 South California Avenue, Chicago, IL 6061...
1019  2007-08-01  1000 South California Avenue, Chicago, IL 6061...
1026  2007-08-01    9600 South Hoyne Avenue, Chicago, IL 60643, USA
1039  2007-08-01  1000 North Central Park Avenue, Chicago, IL 60...
1041  2007-08-01     2000 East 111th Street, Chicago, IL 60628, USA
1043  2007-08-01     2000 East 111th Street, Chicago, IL 60628, USA
1050  2007-08-01  1100 North Artesian Avenue, Chicago, IL 60622,...
1056  2007-08-01  6000 West Montrose Avenue, Chicago, IL 60634, USA
1102  2007-08-01      2200 West 69th Street, Chicago, IL 60636, USA
1106  2007-08-01      2200 West 69th Street, Chicago, IL 60636, USA
1115  2007-08-01  6100 South Melvina Avenue, Chicago, IL 60638, USA
1122  2007-08-01      1000 East 67th Street, Chicago, IL 60637, USA
1124  2007-08-01      1000 East 67th Street, Chicago, IL 60637, USA
1131  2007-08-01  3900 South Ashland Avenue, Chicago, IL 60609, USA
1136  2007-08-01  4700 South Cornell Avenue, Chicago, IL 60615, USA
1147  2007-08-01  7100 South South Shore Drive, Chicago, IL 6064...
1156  2007-08-01  7700 South Eberhart Avenue, Chicago, IL 60619,...
1179  2007-08-01  7900 South South Chicago Avenue, Chicago, IL 6...
1193  2007-08-01      6300 West 64th Street, Chicago, IL 60638, USA
1195  2007-08-01      6300 West 64th Street, Chicago, IL 60638, USA
1197  2007-08-01                South Doty Avenue, Chicago, IL, USA
1198  2007-08-01                South Doty Avenue, Chicago, IL, USA
1199  2007-08-01                South Doty Avenue, Chicago, IL, USA
1200  2007-08-01                South Doty Avenue, Chicago, IL, USA
1202  2007-08-01                South Doty Avenue, Chicago, IL, USA
1203  2007-08-01                South Doty Avenue, Chicago, IL, USA
1204  2007-08-01                South Doty Avenue, Chicago, IL, USA
1205  2007-08-01                South Doty Avenue, Chicago, IL, USA
1206  2007-08-01                South Doty Avenue, Chicago, IL, USA
1207  2007-08-01                South Doty Avenue, Chicago, IL, USA
1208  2007-08-01                South Doty Avenue, Chicago, IL, USA
1209  2007-08-01                South Doty Avenue, Chicago, IL, USA
1210  2007-08-01                South Doty Avenue, Chicago, IL, USA
1211  2007-08-01                South Doty Avenue, Chicago, IL, USA
1215  2007-08-01                South Doty Avenue, Chicago, IL, USA
1217  2007-08-01                South Doty Avenue, Chicago, IL, USA
1218  2007-08-01                South Doty Avenue, Chicago, IL, USA
1219  2007-08-01                South Doty Avenue, Chicago, IL, USA
1220  2007-08-01                South Doty Avenue, Chicago, IL, USA
1221  2007-08-01                South Doty Avenue, Chicago, IL, USA
1222  2007-08-01                South Doty Avenue, Chicago, IL, USA
1223  2007-08-01                South Doty Avenue, Chicago, IL, USA
1224  2007-08-01                South Doty Avenue, Chicago, IL, USA
1225  2007-08-01                South Doty Avenue, Chicago, IL, USA
1226  2007-08-01                South Doty Avenue, Chicago, IL, USA
1227  2007-08-01                South Doty Avenue, Chicago, IL, USA
1229  2007-08-01                South Doty Avenue, Chicago, IL, USA
1230  2007-08-01                South Doty Avenue, Chicago, IL, USA
1231  2007-08-01                South Doty Avenue, Chicago, IL, USA
1232  2007-08-01                South Doty Avenue, Chicago, IL, USA
1233  2007-08-01                South Doty Avenue, Chicago, IL, USA
1235  2007-08-01                South Doty Avenue, Chicago, IL, USA
1236  2007-08-01                South Doty Avenue, Chicago, IL, USA
1237  2007-08-01                South Doty Avenue, Chicago, IL, USA
1238  2007-08-01                South Doty Avenue, Chicago, IL, USA
1239  2007-08-01                South Doty Avenue, Chicago, IL, USA
1240  2007-08-01                South Doty Avenue, Chicago, IL, USA
1241  2007-08-01                South Doty Avenue, Chicago, IL, USA
1242  2007-08-01                South Doty Avenue, Chicago, IL, USA
1243  2007-08-01                South Doty Avenue, Chicago, IL, USA
1244  2007-08-01                South Doty Avenue, Chicago, IL, USA
1245  2007-08-01                South Doty Avenue, Chicago, IL, USA
1246  2007-08-01                South Doty Avenue, Chicago, IL, USA
1247  2007-08-01                South Doty Avenue, Chicago, IL, USA
1252  2007-08-01        South Stony Island Avenue, Chicago, IL, USA
1255  2007-08-01        South Stony Island Avenue, Chicago, IL, USA
1258  2007-08-01        South Stony Island Avenue, Chicago, IL, USA
1259  2007-08-01        South Stony Island Avenue, Chicago, IL, USA
1260  2007-08-01        South Stony Island Avenue, Chicago, IL, USA
1262  2007-08-01        South Stony Island Avenue, Chicago, IL, USA
1263  2007-08-01        South Stony Island Avenue, Chicago, IL, USA
1264  2007-08-01        South Stony Island Avenue, Chicago, IL, USA
1265  2007-08-01        South Stony Island Avenue, Chicago, IL, USA
1266  2007-08-01        South Stony Island Avenue, Chicago, IL, USA
1267  2007-08-01        South Stony Island Avenue, Chicago, IL, USA
1268  2007-08-01        South Stony Island Avenue, Chicago, IL, USA
1271  2007-08-01        South Stony Island Avenue, Chicago, IL, USA
1284  2007-08-01   8000 South Kedzie Avenue, Chicago, IL 60652, USA
1291  2007-08-01  8900 South Muskegon Avenue, Chicago, IL 60617,...
1308  2007-08-01             South Avenue L, Chicago, IL 60617, USA
1309  2007-08-01             South Avenue L, Chicago, IL 60617, USA
1310  2007-08-01             South Avenue L, Chicago, IL 60617, USA
1351  2007-08-02     3500 West 116th Street, Chicago, IL 60655, USA
1353  2007-08-02     3500 West 116th Street, Chicago, IL 60655, USA
1372  2007-08-02     3300 West 104th Street, Chicago, IL 60655, USA
1388  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1390  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1391  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1393  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1396  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1397  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1399  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1400  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1401  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1402  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1403  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1404  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1405  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1406  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1408  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1410  2007-08-02        South Stony Island Avenue, Chicago, IL, USA
1430  2007-08-02          3700 118th Street, Chicago, IL 60617, USA
1433  2007-08-02     3800 East 115th Street, Chicago, IL 60617, USA
1434  2007-08-02     3800 East 115th Street, Chicago, IL 60617, USA
1455  2007-08-02             South Avenue L, Chicago, IL 60617, USA
1457  2007-08-02             South Avenue L, Chicago, IL 60617, USA
1458  2007-08-02             South Avenue L, Chicago, IL 60617, USA
1467  2007-08-03     3800 East 115th Street, Chicago, IL 60617, USA
1468  2007-08-03     3800 East 115th Street, Chicago, IL 60617, USA
1655  2007-08-08                South Doty Avenue, Chicago, IL, USA
1656  2007-08-08                South Doty Avenue, Chicago, IL, USA
1658  2007-08-08                South Doty Avenue, Chicago, IL, USA
1661  2007-08-08                South Doty Avenue, Chicago, IL, USA
1662  2007-08-08                South Doty Avenue, Chicago, IL, USA
1663  2007-08-08                South Doty Avenue, Chicago, IL, USA
1664  2007-08-08                South Doty Avenue, Chicago, IL, USA
1665  2007-08-08                South Doty Avenue, Chicago, IL, USA
1666  2007-08-08                South Doty Avenue, Chicago, IL, USA
1667  2007-08-08                South Doty Avenue, Chicago, IL, USA
1668  2007-08-08                South Doty Avenue, Chicago, IL, USA
1669  2007-08-08                South Doty Avenue, Chicago, IL, USA
1670  2007-08-08                South Doty Avenue, Chicago, IL, USA
1672  2007-08-08                South Doty Avenue, Chicago, IL, USA
1673  2007-08-08                South Doty Avenue, Chicago, IL, USA
1674  2007-08-08                South Doty Avenue, Chicago, IL, USA
1675  2007-08-08                South Doty Avenue, Chicago, IL, USA
1676  2007-08-08                South Doty Avenue, Chicago, IL, USA
1677  2007-08-08                South Doty Avenue, Chicago, IL, USA
1679  2007-08-08                South Doty Avenue, Chicago, IL, USA
1680  2007-08-08                South Doty Avenue, Chicago, IL, USA
1682  2007-08-08                South Doty Avenue, Chicago, IL, USA
1683  2007-08-08                South Doty Avenue, Chicago, IL, USA
1684  2007-08-08                South Doty Avenue, Chicago, IL, USA
1686  2007-08-08                South Doty Avenue, Chicago, IL, USA
1690  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1691  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1692  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1694  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1695  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1696  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1698  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1700  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1701  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1702  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1703  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1704  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1705  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1706  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1707  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1708  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1709  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1710  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1711  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1712  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1713  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1714  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1715  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1716  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1717  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1718  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1719  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1720  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1721  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1722  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1723  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1724  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1725  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1726  2007-08-08        South Stony Island Avenue, Chicago, IL, USA
1736  2007-08-08     2400 East 105th Street, Chicago, IL 60617, USA
1737  2007-08-08     2400 East 105th Street, Chicago, IL 60617, USA
1738  2007-08-08     2400 East 105th Street, Chicago, IL 60617, USA
1752  2007-08-09            South Torrence Avenue, Chicago, IL, USA
1775  2007-08-15  4100 North Oak Park Avenue, Chicago, IL 60634,...
1800  2007-08-15     2200 West 113th Street, Chicago, IL 60643, USA
1830  2007-08-15  8900 South Carpenter Street, Chicago, IL 60620...
1838  2007-08-15    7200 North Oketo Avenue, Chicago, IL 60631, USA
1861  2007-08-15       4200 West 127th Street, Alsip, IL 60803, USA
1986  2007-08-15  3900 South Ashland Avenue, Chicago, IL 60609, USA
2003  2007-08-15    5000 South Union Avenue, Chicago, IL 60609, USA
2032  2007-08-15             South Avenue L, Chicago, IL 60617, USA
2034  2007-08-15             South Avenue L, Chicago, IL 60617, USA
2035  2007-08-15             South Avenue L, Chicago, IL 60617, USA
2052  2007-08-16                South Doty Avenue, Chicago, IL, USA
2053  2007-08-16                South Doty Avenue, Chicago, IL, USA
2054  2007-08-16                South Doty Avenue, Chicago, IL, USA
2055  2007-08-16                South Doty Avenue, Chicago, IL, USA
2056  2007-08-16                South Doty Avenue, Chicago, IL, USA
2057  2007-08-16                South Doty Avenue, Chicago, IL, USA
2059  2007-08-16                South Doty Avenue, Chicago, IL, USA
2060  2007-08-16                South Doty Avenue, Chicago, IL, USA
2061  2007-08-16                South Doty Avenue, Chicago, IL, USA
2062  2007-08-16                South Doty Avenue, Chicago, IL, USA
2063  2007-08-16                South Doty Avenue, Chicago, IL, USA
2064  2007-08-16                South Doty Avenue, Chicago, IL, USA
2065  2007-08-16                South Doty Avenue, Chicago, IL, USA
2066  2007-08-16                South Doty Avenue, Chicago, IL, USA
2067  2007-08-16                South Doty Avenue, Chicago, IL, USA
2068  2007-08-16                South Doty Avenue, Chicago, IL, USA
2069  2007-08-16                South Doty Avenue, Chicago, IL, USA
2071  2007-08-16                South Doty Avenue, Chicago, IL, USA

In [462]:
train_df.iloc[[548, 587, 588, 589, 590, 591, 593]]

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Year,Month,Week,DayOfWeek
548,2007-07-18,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,29,2
587,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,29,3
588,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,29,3
589,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,29,3
590,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,29,3
591,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,29,3
593,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,29,3

There are some entries among the duplicated rows that indicated there is WnvPresent, whereas the other duplicate copies does not, as such, will keep them in the dataset just in case

In [463]:
# Just to check number of cases of Wnv occurences

a = train_df[train_df['WnvPresent'] != 0]

In [464]:
# 551 occurences
a.shape

(551, 16)

In [465]:
# Nothing else much to do in this dataset, considered clean and export it

train_df.to_csv('../data/cleaned_train.csv')

***Test***

In [466]:
# Add Year, Month, Week and Day of Week features
test_df['Date'] = pd.to_datetime(test_df['Date'])
test_df['Year'] = test_df['Date'].apply(lambda x: x.year)
test_df['Month'] = test_df['Date'].apply(lambda x: x.month)
test_df['Week'] = test_df['Date'].apply(lambda x: x.week)
test_df['DayOfWeek'] = test_df['Date'].apply(lambda x: x.dayofweek)

In [467]:
# Otherwise, nothing else much to cleaning work needs to be done to this dataset as well, export it

test_df.to_csv('../data/cleaned_test.csv')

***Spray***

In [472]:
# There are some null values in the time feature

spray_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14835 entries, 0 to 14834
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       14835 non-null  object
 1   Time       14251 non-null  object
 2   Latitude   14835 non-null  float64
 3   Longitude  14835 non-null  float64
dtypes: float64(2), object(2)
memory usage: 463.7+ KB

In [479]:
spray_df.loc[spray_df.Time.isnull()]

            Date Time   Latitude  Longitude
1030  2011-09-07  NaN  41.987092 -87.794286
1031  2011-09-07  NaN  41.987620 -87.794382
1032  2011-09-07  NaN  41.988004 -87.794574
1033  2011-09-07  NaN  41.988292 -87.795486
1034  2011-09-07  NaN  41.988100 -87.796014
1035  2011-09-07  NaN  41.986372 -87.794862
1036  2011-09-07  NaN  41.986228 -87.795582
1037  2011-09-07  NaN  41.984836 -87.793998
1038  2011-09-07  NaN  41.984836 -87.794670
1039  2011-09-07  NaN  41.984884 -87.795198
1040  2011-09-07  NaN  41.982820 -87.793182
1041  2011-09-07  NaN  41.982772 -87.793950
1042  2011-09-07  NaN  41.982772 -87.795006
1043  2011-09-07  NaN  41.983444 -87.795246
1044  2011-09-07  NaN  41.984068 -87.795438
1045  2011-09-07  NaN  41.984596 -87.795534
1046  2011-09-07  NaN  41.984980 -87.795630
1047  2011-09-07  NaN  41.986708 -87.796110
1048  2011-09-07  NaN  41.987524 -87.796302
1049  2011-09-07  NaN  41.988820 -87.796638
1050  2011-09-07  NaN  41.989444 -87.796830
1051  2011-09-07  NaN  41.990068 -87.796974
1052  2011-09-07  NaN  41.988244 -87.797022
1053  2011-09-07  NaN  41.988196 -87.797742
1054  2011-09-07  NaN  41.988196 -87.798366
1055  2011-09-07  NaN  41.988196 -87.798942
1056  2011-09-07  NaN  41.988196 -87.799422
1057  2011-09-07  NaN  41.986372 -87.796494
1058  2011-09-07  NaN  41.986372 -87.797310
1059  2011-09-07  NaN  41.986372 -87.798030
1060  2011-09-07  NaN  41.986420 -87.798558
1061  2011-09-07  NaN  41.986612 -87.799278
1062  2011-09-07  NaN  41.986708 -87.799758
1063  2011-09-07  NaN  41.986900 -87.800238
1064  2011-09-07  NaN  41.984980 -87.796302
1065  2011-09-07  NaN  41.985028 -87.797166
1066  2011-09-07  NaN  41.985028 -87.797694
1067  2011-09-07  NaN  41.985076 -87.798270
1068  2011-09-07  NaN  41.985076 -87.798942
1069  2011-09-07  NaN  41.985124 -87.799662
1070  2011-09-07  NaN  41.985652 -87.797550
1071  2011-09-07  NaN  41.984452 -87.797598
1072  2011-09-07  NaN  41.983828 -87.797598
1073  2011-09-07  NaN  41.983396 -87.797646
1074  2011-09-07  NaN  41.982772 -87.797550
1075  2011-09-07  NaN  41.982772 -87.796734
1076  2011-09-07  NaN  41.982820 -87.796014
1077  2011-09-07  NaN  41.982820 -87.795390
1078  2011-09-07  NaN  41.983540 -87.798270
1079  2011-09-07  NaN  41.983732 -87.799230
1080  2011-09-07  NaN  41.983876 -87.799902
1081  2011-09-07  NaN  41.983972 -87.800574
1082  2011-09-07  NaN  41.984068 -87.801103
1083  2011-09-07  NaN  41.984356 -87.801727
1084  2011-09-07  NaN  41.984596 -87.802255
1085  2011-09-07  NaN  41.984788 -87.802591
1086  2011-09-07  NaN  41.984932 -87.802927
1087  2011-09-07  NaN  41.985220 -87.803551
1088  2011-09-07  NaN  41.985364 -87.800334
1089  2011-09-07  NaN  41.985556 -87.800863
1090  2011-09-07  NaN  41.985748 -87.801199
1091  2011-09-07  NaN  41.985844 -87.801583
1092  2011-09-07  NaN  41.985988 -87.798942
1093  2011-09-07  NaN  41.985556 -87.799374
1094  2011-09-07  NaN  41.984404 -87.800478
1095  2011-09-07  NaN  41.983732 -87.801247
1096  2011-09-07  NaN  41.983588 -87.801919
1097  2011-09-07  NaN  41.983876 -87.802735
1098  2011-09-07  NaN  41.984116 -87.803263
1099  2011-09-07  NaN  41.984308 -87.803551
1100  2011-09-07  NaN  41.984548 -87.803983
1101  2011-09-07  NaN  41.984740 -87.804367
1102  2011-09-07  NaN  41.984932 -87.804943
1103  2011-09-07  NaN  41.985268 -87.805711
1104  2011-09-07  NaN  41.985508 -87.806143
1105  2011-09-07  NaN  41.985652 -87.806479
1106  2011-09-07  NaN  41.985796 -87.806767
1107  2011-09-07  NaN  41.985652 -87.804079
1108  2011-09-07  NaN  41.985988 -87.804655
1109  2011-09-07  NaN  41.986324 -87.805039
1110  2011-09-07  NaN  41.986564 -87.805375
1111  2011-09-07  NaN  41.987140 -87.805519
1112  2011-09-07  NaN  41.987860 -87.805615
1113  2011-09-07  NaN  41.988292 -87.805615
1114  2011-09-07  NaN  41.988820 -87.805087
1115  2011-09-07  NaN  41.989204 -87.804655
1116  2011-09-07  NaN  41.989588 -87.804175
1117  2011-09-07  NaN  41.989972 -87.803791
1118  2011-09-07  NaN  41.990164 -87.803407
1119  2011-09-07  NaN  41.990452 -87.802975
1120  2011-09-07  NaN  41.990644 -87.802495
1121  2011-09-07  NaN  41.990644 -87.801775
1122  2011-09-07  NaN  41.990644 -87.801343
1123  2011-09-07  NaN  41.990596 -87.800815
1124  2011-09-07  NaN  41.990452 -87.800334
1125  2011-09-07  NaN  41.989876 -87.799998
1126  2011-09-07  NaN  41.989348 -87.799854
1127  2011-09-07  NaN  41.988724 -87.799710
1128  2011-09-07  NaN  41.988244 -87.799566
1129  2011-09-07  NaN  41.987668 -87.799902
1130  2011-09-07  NaN  41.987188 -87.800286
1131  2011-09-07  NaN  41.986612 -87.800670
1132  2011-09-07  NaN  41.986276 -87.801055
1133  2011-09-07  NaN  41.985796 -87.802207
1134  2011-09-07  NaN  41.985556 -87.802783
1135  2011-09-07  NaN  41.985460 -87.803167
1136  2011-09-07  NaN  41.986084 -87.803215
1137  2011-09-07  NaN  41.986852 -87.803023
1138  2011-09-07  NaN  41.987284 -87.802831
1139  2011-09-07  NaN  41.987764 -87.802495
1140  2011-09-07  NaN  41.988724 -87.801775
1141  2011-09-07  NaN  41.989108 -87.801439
1142  2011-09-07  NaN  41.989540 -87.801103
1143  2011-09-07  NaN  41.989972 -87.800574
1144  2011-09-07  NaN  41.988100 -87.802783
1145  2011-09-07  NaN  41.987716 -87.803407
1146  2011-09-07  NaN  41.987476 -87.803887
1147  2011-09-07  NaN  41.987140 -87.804271
1148  2011-09-07  NaN  41.986900 -87.804895
1149  2011-09-07  NaN  41.986660 -87.805087
1150  2011-09-07  NaN  41.989636 -87.803647
1151  2011-09-07  NaN  41.989156 -87.803359
1152  2011-09-07  NaN  41.988676 -87.803167
1153  2011-09-07  NaN  41.988388 -87.803071
1154  2011-09-07  NaN  41.987572 -87.802111
1155  2011-09-07  NaN  41.987380 -87.801679
1156  2011-09-07  NaN  41.987188 -87.801247
1157  2011-09-07  NaN  41.986996 -87.800766
1158  2011-09-07  NaN  41.986132 -87.806143
1159  2011-09-07  NaN  41.985844 -87.806479
1160  2011-09-07  NaN  41.990692 -87.799998
1161  2011-09-07  NaN  41.991076 -87.799662
1162  2011-09-07  NaN  41.991364 -87.799566
1163  2011-09-07  NaN  41.984452 -87.805423
1164  2011-09-07  NaN  41.983924 -87.805327
1165  2011-09-07  NaN  41.983252 -87.805327
1166  2011-09-07  NaN  41.982868 -87.805327
1167  2011-09-07  NaN  41.983876 -87.803695
1168  2011-09-07  NaN  41.983492 -87.803743
1169  2011-09-07  NaN  41.983156 -87.803695
1170  2011-09-07  NaN  41.983204 -87.802015
1171  2011-09-07  NaN  41.982916 -87.801967
1172  2011-09-07  NaN  41.982868 -87.798270
1173  2011-09-07  NaN  41.982820 -87.799614
1174  2011-09-07  NaN  41.982772 -87.800430
1175  2011-09-07  NaN  41.982772 -87.801343
1176  2011-09-07  NaN  41.982772 -87.802351
1177  2011-09-07  NaN  41.982772 -87.803023
1178  2011-09-07  NaN  41.982772 -87.803311
1179  2011-09-07  NaN  41.982724 -87.804175
1180  2011-09-07  NaN  41.982724 -87.804799
1181  2011-09-07  NaN  41.982772 -87.806335
1182  2011-09-07  NaN  41.983060 -87.806959
1183  2011-09-07  NaN  41.983540 -87.807007
1184  2011-09-07  NaN  41.983924 -87.806911
1185  2011-09-07  NaN  41.984404 -87.806911
1186  2011-09-07  NaN  41.984980 -87.806863
1187  2011-09-07  NaN  41.985604 -87.806959
1188  2011-09-07  NaN  41.986372 -87.806863
1189  2011-09-07  NaN  41.986804 -87.806815
1190  2011-09-07  NaN  41.987284 -87.806863
1191  2011-09-07  NaN  41.987620 -87.806863
1192  2011-09-07  NaN  41.987956 -87.806911
1193  2011-09-07  NaN  41.988484 -87.806911
1194  2011-09-07  NaN  41.989108 -87.806911
1195  2011-09-07  NaN  41.989540 -87.806863
1196  2011-09-07  NaN  41.989876 -87.806911
1197  2011-09-07  NaN  41.990452 -87.806911
1198  2011-09-07  NaN  41.990932 -87.806959
1199  2011-09-07  NaN  41.991268 -87.806911
1200  2011-09-07  NaN  41.991700 -87.806815
1201  2011-09-07  NaN  41.992372 -87.806863
1202  2011-09-07  NaN  41.992996 -87.806767
1203  2011-09-07  NaN  41.993428 -87.806863
1204  2011-09-07  NaN  41.993908 -87.806863
1205  2011-09-07  NaN  41.994340 -87.806863
1206  2011-09-07  NaN  41.994820 -87.806911
1207  2011-09-07  NaN  41.995300 -87.806767
1208  2011-09-07  NaN  41.995588 -87.806623
1209  2011-09-07  NaN  41.995300 -87.805999
1210  2011-09-07  NaN  41.995012 -87.805567
1211  2011-09-07  NaN  41.994676 -87.805039
1212  2011-09-07  NaN  41.994292 -87.804319
1213  2011-09-07  NaN  41.994100 -87.804079
1214  2011-09-07  NaN  41.993908 -87.803695
1215  2011-09-07  NaN  41.993668 -87.803167
1216  2011-09-07  NaN  41.993380 -87.802687
1217  2011-09-07  NaN  41.992948 -87.802015
1218  2011-09-07  NaN  41.992756 -87.801631
1219  2011-09-07  NaN  41.992228 -87.800863
1220  2011-09-07  NaN  41.992084 -87.800430
1221  2011-09-07  NaN  41.991892 -87.800094
1222  2011-09-07  NaN  41.991700 -87.799662
1223  2011-09-07  NaN  41.991364 -87.799182
1224  2011-09-07  NaN  41.991028 -87.798462
1225  2011-09-07  NaN  41.990788 -87.798030
1226  2011-09-07  NaN  41.990500 -87.797550
1227  2011-09-07  NaN  41.990260 -87.797310
1228  2011-09-07  NaN  41.989828 -87.796494
1229  2011-09-07  NaN  41.989348 -87.795630
1230  2011-09-07  NaN  41.989060 -87.795102
1231  2011-09-07  NaN  41.988676 -87.794430
1232  2011-09-07  NaN  41.988388 -87.794046
1233  2011-09-07  NaN  41.988052 -87.793566
1234  2011-09-07  NaN  41.987812 -87.792894
1235  2011-09-07  NaN  41.987524 -87.792414
1236  2011-09-07  NaN  41.987284 -87.791982
1237  2011-09-07  NaN  41.986996 -87.791502
1238  2011-09-07  NaN  41.986708 -87.791214
1239  2011-09-07  NaN  41.986564 -87.790878
1240  2011-09-07  NaN  41.986372 -87.790350
1241  2011-09-07  NaN  41.986084 -87.789870
1242  2011-09-07  NaN  41.985700 -87.789342
1243  2011-09-07  NaN  41.985460 -87.788766
1244  2011-09-07  NaN  41.985172 -87.788430
1245  2011-09-07  NaN  41.984452 -87.787710
1246  2011-09-07  NaN  41.984260 -87.788286
1247  2011-09-07  NaN  41.984548 -87.788718
1248  2011-09-07  NaN  41.984884 -87.789390
1249  2011-09-07  NaN  41.985076 -87.789870
1250  2011-09-07  NaN  41.985268 -87.790350
1251  2011-09-07  NaN  41.985556 -87.790926
1252  2011-09-07  NaN  41.985748 -87.791262
1253  2011-09-07  NaN  41.985940 -87.791406
1254  2011-09-07  NaN  41.986276 -87.790926
1255  2011-09-07  NaN  41.985652 -87.791790
1256  2011-09-07  NaN  41.985508 -87.792174
1257  2011-09-07  NaN  41.985316 -87.792510
1258  2011-09-07  NaN  41.985220 -87.792894
1259  2011-09-07  NaN  41.985076 -87.793134
1260  2011-09-07  NaN  41.986084 -87.807439
1261  2011-09-07  NaN  41.988916 -87.805711
1262  2011-09-07  NaN  41.989588 -87.805663
1263  2011-09-07  NaN  41.990164 -87.805663
1264  2011-09-07  NaN  41.990548 -87.805615
1265  2011-09-07  NaN  41.991076 -87.805711
1266  2011-09-07  NaN  41.991508 -87.805711
1267  2011-09-07  NaN  41.992036 -87.805615
1268  2011-09-07  NaN  41.992420 -87.805711
1269  2011-09-07  NaN  41.992948 -87.805711
1270  2011-09-07  NaN  41.993716 -87.805615
1271  2011-09-07  NaN  41.994340 -87.805663
1272  2011-09-07  NaN  41.994724 -87.805615
1273  2011-09-07  NaN  41.993428 -87.805999
1274  2011-09-07  NaN  41.993092 -87.805135
1275  2011-09-07  NaN  41.992804 -87.804655
1276  2011-09-07  NaN  41.992516 -87.804175
1277  2011-09-07  NaN  41.992180 -87.803599
1278  2011-09-07  NaN  41.991892 -87.802927
1279  2011-09-07  NaN  41.991556 -87.802495
1280  2011-09-07  NaN  41.991460 -87.802063
1281  2011-09-07  NaN  41.991124 -87.801487
1282  2011-09-07  NaN  41.990884 -87.801007
1283  2011-09-07  NaN  41.992180 -87.801391
1284  2011-09-07  NaN  41.991940 -87.801679
1285  2011-09-07  NaN  41.991652 -87.801967
1286  2011-09-07  NaN  41.993332 -87.803359
1287  2011-09-07  NaN  41.992612 -87.803599
1288  2011-09-07  NaN  41.991700 -87.803743
1289  2011-09-07  NaN  41.991220 -87.803695
1290  2011-09-07  NaN  41.990836 -87.803791
1291  2011-09-07  NaN  41.990404 -87.803839
1292  2011-09-07  NaN  41.992324 -87.804223
1293  2011-09-07  NaN  41.992276 -87.804847
1294  2011-09-07  NaN  41.992372 -87.805279
1295  2011-09-07  NaN  41.989924 -87.804223
1296  2011-09-07  NaN  41.989972 -87.804847
1297  2011-09-07  NaN  41.989924 -87.805231
1298  2011-09-07  NaN  41.986372 -87.807919
1299  2011-09-07  NaN  41.986660 -87.808639
1300  2011-09-07  NaN  41.986900 -87.809071
1301  2011-09-07  NaN  41.987044 -87.809407
1302  2011-09-07  NaN  41.987236 -87.809839
1303  2011-09-07  NaN  41.987332 -87.810271
1304  2011-09-07  NaN  41.987620 -87.810559
1305  2011-09-07  NaN  41.987956 -87.811135
1306  2011-09-07  NaN  41.988052 -87.811567
1307  2011-09-07  NaN  41.988196 -87.811759
1308  2011-09-07  NaN  41.988388 -87.811999
1309  2011-09-07  NaN  41.988676 -87.812719
1310  2011-09-07  NaN  41.990644 -87.816703
1311  2011-09-07  NaN  41.990980 -87.817567
1312  2011-09-07  NaN  41.991460 -87.818095
1313  2011-09-07  NaN  41.991700 -87.818719
1314  2011-09-07  NaN  41.991844 -87.819055
1315  2011-09-07  NaN  41.991940 -87.819439
1316  2011-09-07  NaN  41.992276 -87.820015
1317  2011-09-07  NaN  41.992660 -87.820639
1318  2011-09-07  NaN  41.992900 -87.821215
1319  2011-09-07  NaN  41.993188 -87.821695
1320  2011-09-07  NaN  41.993236 -87.822032
1321  2011-09-07  NaN  41.987764 -87.811903
1322  2011-09-07  NaN  41.986996 -87.811855
1323  2011-09-07  NaN  41.986564 -87.811951
1324  2011-09-07  NaN  41.986036 -87.811951
1325  2011-09-07  NaN  41.985652 -87.811807
1326  2011-09-07  NaN  41.985268 -87.811759
1327  2011-09-07  NaN  41.984884 -87.811855
1328  2011-09-07  NaN  41.984404 -87.811855
1329  2011-09-07  NaN  41.983924 -87.811903
1330  2011-09-07  NaN  41.983540 -87.811951
1331  2011-09-07  NaN  41.983108 -87.811903
1332  2011-09-07  NaN  41.982724 -87.811903
1333  2011-09-07  NaN  41.982628 -87.811519
1334  2011-09-07  NaN  41.982628 -87.810847
1335  2011-09-07  NaN  41.982628 -87.810127
1336  2011-09-07  NaN  41.982676 -87.809407
1337  2011-09-07  NaN  41.982676 -87.808543
1338  2011-09-07  NaN  41.982916 -87.810655
1339  2011-09-07  NaN  41.983492 -87.810655
1340  2011-09-07  NaN  41.984068 -87.810607
1341  2011-09-07  NaN  41.984596 -87.810511
1342  2011-09-07  NaN  41.984980 -87.810511
1343  2011-09-07  NaN  41.985604 -87.810559
1344  2011-09-07  NaN  41.985940 -87.810463
1345  2011-09-07  NaN  41.986420 -87.810415
1346  2011-09-07  NaN  41.986900 -87.810319
1347  2011-09-07  NaN  41.987188 -87.810319
1348  2011-09-07  NaN  41.987716 -87.810079
1349  2011-09-07  NaN  41.987812 -87.809647
1350  2011-09-07  NaN  41.987812 -87.809119
1351  2011-09-07  NaN  41.987812 -87.808687
1352  2011-09-07  NaN  41.987764 -87.808447
1353  2011-09-07  NaN  41.987380 -87.808447
1354  2011-09-07  NaN  41.987044 -87.808399
1355  2011-09-07  NaN  41.986564 -87.808351
1356  2011-09-07  NaN  41.989300 -87.810031
1357  2011-09-07  NaN  41.989492 -87.810031
1358  2011-09-07  NaN  41.989828 -87.810079
1359  2011-09-07  NaN  41.989828 -87.809407
1360  2011-09-07  NaN  41.989780 -87.808927
1361  2011-09-07  NaN  41.989828 -87.808351
1362  2011-09-07  NaN  41.989828 -87.808015
1363  2011-09-07  NaN  41.989924 -87.806959
1364  2011-09-07  NaN  41.991844 -87.808255
1365  2011-09-07  NaN  41.991364 -87.808351
1366  2011-09-07  NaN  41.990788 -87.808255
1367  2011-09-07  NaN  41.990356 -87.808351
1368  2011-09-07  NaN  41.989444 -87.808303
1369  2011-09-07  NaN  41.989012 -87.808351
1370  2011-09-07  NaN  41.988436 -87.808399
1371  2011-09-07  NaN  41.992036 -87.807775
1372  2011-09-07  NaN  41.992084 -87.807247
1373  2011-09-07  NaN  41.985316 -87.809839
1374  2011-09-07  NaN  41.985268 -87.809983
1375  2011-09-07  NaN  41.985268 -87.810319
1376  2011-09-07  NaN  41.985172 -87.810991
1377  2011-09-07  NaN  41.985220 -87.811519
1378  2011-09-07  NaN  41.985940 -87.809503
1379  2011-09-07  NaN  41.985652 -87.809407
1380  2011-09-07  NaN  41.985172 -87.809503
1381  2011-09-07  NaN  41.984788 -87.809503
1382  2011-09-07  NaN  41.984404 -87.809455
1383  2011-09-07  NaN  41.984164 -87.809311
1384  2011-09-07  NaN  41.984260 -87.808687
1385  2011-09-07  NaN  41.984164 -87.808015
1386  2011-09-07  NaN  41.984116 -87.807199
1387  2011-09-07  NaN  41.983636 -87.807439
1388  2011-09-07  NaN  41.983588 -87.808159
1389  2011-09-07  NaN  41.983588 -87.808927
1390  2011-09-07  NaN  41.983588 -87.809551
1391  2011-09-07  NaN  41.983492 -87.809887
1392  2011-09-07  NaN  41.983588 -87.810271
1393  2011-09-07  NaN  41.985508 -87.815983
1394  2011-09-07  NaN  41.985604 -87.815215
1395  2011-09-07  NaN  41.985652 -87.814639
1396  2011-09-07  NaN  41.985652 -87.814063
1397  2011-09-07  NaN  41.985604 -87.813391
1398  2011-09-07  NaN  41.985652 -87.813055
1399  2011-09-07  NaN  41.985364 -87.812767
1400  2011-09-07  NaN  41.985124 -87.812575
1401  2011-09-07  NaN  41.984884 -87.815983
1402  2011-09-07  NaN  41.984932 -87.815359
1403  2011-09-07  NaN  41.984884 -87.814783
1404  2011-09-07  NaN  41.984884 -87.814159
1405  2011-09-07  NaN  41.984884 -87.813535
1406  2011-09-07  NaN  41.984884 -87.813199
1407  2011-09-07  NaN  41.984068 -87.816079
1408  2011-09-07  NaN  41.984068 -87.815407
1409  2011-09-07  NaN  41.984116 -87.814879
1410  2011-09-07  NaN  41.984068 -87.814351
1411  2011-09-07  NaN  41.984068 -87.813727
1412  2011-09-07  NaN  41.984020 -87.813295
1413  2011-09-07  NaN  41.983876 -87.813103
1414  2011-09-07  NaN  41.983396 -87.816079
1415  2011-09-07  NaN  41.983156 -87.815311
1416  2011-09-07  NaN  41.982916 -87.814495
1417  2011-09-07  NaN  41.982820 -87.814111
1418  2011-09-07  NaN  41.982676 -87.813487
1419  2011-09-07  NaN  41.982676 -87.812863
1420  2011-09-07  NaN  41.982676 -87.812287
1421  2011-09-07  NaN  41.984068 -87.815023
1422  2011-09-07  NaN  41.983684 -87.814831
1423  2011-09-07  NaN  41.983444 -87.814447
1424  2011-09-07  NaN  41.983348 -87.814111
1425  2011-09-07  NaN  41.983252 -87.813727
1426  2011-09-07  NaN  41.983204 -87.813247
1427  2011-09-07  NaN  41.984452 -87.813199
1428  2011-09-07  NaN  41.983492 -87.813199
1429  2011-09-07  NaN  41.984500 -87.815983
1430  2011-09-07  NaN  41.993620 -87.821984
1431  2011-09-07  NaN  41.994964 -87.821887
1432  2011-09-07  NaN  41.996644 -87.821647
1433  2011-09-07  NaN  41.996836 -87.821359
1434  2011-09-07  NaN  41.996836 -87.820735
1435  2011-09-07  NaN  41.996788 -87.820303
1436  2011-09-07  NaN  41.996836 -87.819967
1437  2011-09-07  NaN  41.996884 -87.819439
1438  2011-09-07  NaN  41.996884 -87.819007
1439  2011-09-07  NaN  41.996884 -87.818335
1440  2011-09-07  NaN  41.996932 -87.817855
1441  2011-09-07  NaN  41.996932 -87.817519
1442  2011-09-07  NaN  41.996884 -87.816991
1443  2011-09-07  NaN  41.996884 -87.816463
1444  2011-09-07  NaN  41.996932 -87.815983
1445  2011-09-07  NaN  41.996980 -87.815503
1446  2011-09-07  NaN  41.996932 -87.815071
1447  2011-09-07  NaN  41.996932 -87.814687
1448  2011-09-07  NaN  41.996980 -87.814111
1449  2011-09-07  NaN  41.996980 -87.813775
1450  2011-09-07  NaN  41.996932 -87.813391
1451  2011-09-07  NaN  41.996980 -87.812767
1452  2011-09-07  NaN  41.996980 -87.812335
1453  2011-09-07  NaN  41.997028 -87.811855
1454  2011-09-07  NaN  41.996932 -87.811183
1455  2011-09-07  NaN  41.996932 -87.810607
1456  2011-09-07  NaN  41.996980 -87.810127
1457  2011-09-07  NaN  41.996308 -87.809023
1458  2011-09-07  NaN  41.996164 -87.808543
1459  2011-09-07  NaN  41.995876 -87.808255
1460  2011-09-07  NaN  41.995732 -87.807871
1461  2011-09-07  NaN  41.995588 -87.807679
1462  2011-09-07  NaN  41.995348 -87.807103
1463  2011-09-07  NaN  41.996500 -87.818911
1464  2011-09-07  NaN  41.995732 -87.818959
1465  2011-09-07  NaN  41.994820 -87.819007
1466  2011-09-07  NaN  41.994484 -87.819103
1467  2011-09-07  NaN  41.992900 -87.819103
1468  2011-09-07  NaN  41.992420 -87.819055
1469  2011-09-07  NaN  41.992132 -87.819007
1470  2011-09-07  NaN  41.996020 -87.821263
1471  2011-09-07  NaN  41.996020 -87.820687
1472  2011-09-07  NaN  41.995972 -87.820207
1473  2011-09-07  NaN  41.996020 -87.819583
1474  2011-09-07  NaN  41.996020 -87.818623
1475  2011-09-07  NaN  41.996020 -87.817951
1476  2011-09-07  NaN  41.996068 -87.817471
1477  2011-09-07  NaN  41.996020 -87.816991
1478  2011-09-07  NaN  41.995012 -87.821455
1479  2011-09-07  NaN  41.995012 -87.820975
1480  2011-09-07  NaN  41.995012 -87.820399
1481  2011-09-07  NaN  41.995012 -87.820015
1482  2011-09-07  NaN  41.995012 -87.819439

In [484]:
null_val = spray_df[spray_df['Time'].isnull()]
print(null_val)

            Date Time   Latitude  Longitude
1030  2011-09-07  NaN  41.987092 -87.794286
1031  2011-09-07  NaN  41.987620 -87.794382
1032  2011-09-07  NaN  41.988004 -87.794574
1033  2011-09-07  NaN  41.988292 -87.795486
1034  2011-09-07  NaN  41.988100 -87.796014
1035  2011-09-07  NaN  41.986372 -87.794862
1036  2011-09-07  NaN  41.986228 -87.795582
1037  2011-09-07  NaN  41.984836 -87.793998
1038  2011-09-07  NaN  41.984836 -87.794670
1039  2011-09-07  NaN  41.984884 -87.795198
1040  2011-09-07  NaN  41.982820 -87.793182
1041  2011-09-07  NaN  41.982772 -87.793950
1042  2011-09-07  NaN  41.982772 -87.795006
1043  2011-09-07  NaN  41.983444 -87.795246
1044  2011-09-07  NaN  41.984068 -87.795438
1045  2011-09-07  NaN  41.984596 -87.795534
1046  2011-09-07  NaN  41.984980 -87.795630
1047  2011-09-07  NaN  41.986708 -87.796110
1048  2011-09-07  NaN  41.987524 -87.796302
1049  2011-09-07  NaN  41.988820 -87.796638
1050  2011-09-07  NaN  41.989444 -87.796830
1051  2011-09-07  NaN  41.990068 -87.796974
1052  2011-09-07  NaN  41.988244 -87.797022
1053  2011-09-07  NaN  41.988196 -87.797742
1054  2011-09-07  NaN  41.988196 -87.798366
1055  2011-09-07  NaN  41.988196 -87.798942
1056  2011-09-07  NaN  41.988196 -87.799422
1057  2011-09-07  NaN  41.986372 -87.796494
1058  2011-09-07  NaN  41.986372 -87.797310
1059  2011-09-07  NaN  41.986372 -87.798030
1060  2011-09-07  NaN  41.986420 -87.798558
1061  2011-09-07  NaN  41.986612 -87.799278
1062  2011-09-07  NaN  41.986708 -87.799758
1063  2011-09-07  NaN  41.986900 -87.800238
1064  2011-09-07  NaN  41.984980 -87.796302
1065  2011-09-07  NaN  41.985028 -87.797166
1066  2011-09-07  NaN  41.985028 -87.797694
1067  2011-09-07  NaN  41.985076 -87.798270
1068  2011-09-07  NaN  41.985076 -87.798942
1069  2011-09-07  NaN  41.985124 -87.799662
1070  2011-09-07  NaN  41.985652 -87.797550
1071  2011-09-07  NaN  41.984452 -87.797598
1072  2011-09-07  NaN  41.983828 -87.797598
1073  2011-09-07  NaN  41.983396 -87.797646
1074  2011-09-07  NaN  41.982772 -87.797550
1075  2011-09-07  NaN  41.982772 -87.796734
1076  2011-09-07  NaN  41.982820 -87.796014
1077  2011-09-07  NaN  41.982820 -87.795390
1078  2011-09-07  NaN  41.983540 -87.798270
1079  2011-09-07  NaN  41.983732 -87.799230
1080  2011-09-07  NaN  41.983876 -87.799902
1081  2011-09-07  NaN  41.983972 -87.800574
1082  2011-09-07  NaN  41.984068 -87.801103
1083  2011-09-07  NaN  41.984356 -87.801727
1084  2011-09-07  NaN  41.984596 -87.802255
1085  2011-09-07  NaN  41.984788 -87.802591
1086  2011-09-07  NaN  41.984932 -87.802927
1087  2011-09-07  NaN  41.985220 -87.803551
1088  2011-09-07  NaN  41.985364 -87.800334
1089  2011-09-07  NaN  41.985556 -87.800863
1090  2011-09-07  NaN  41.985748 -87.801199
1091  2011-09-07  NaN  41.985844 -87.801583
1092  2011-09-07  NaN  41.985988 -87.798942
1093  2011-09-07  NaN  41.985556 -87.799374
1094  2011-09-07  NaN  41.984404 -87.800478
1095  2011-09-07  NaN  41.983732 -87.801247
1096  2011-09-07  NaN  41.983588 -87.801919
1097  2011-09-07  NaN  41.983876 -87.802735
1098  2011-09-07  NaN  41.984116 -87.803263
1099  2011-09-07  NaN  41.984308 -87.803551
1100  2011-09-07  NaN  41.984548 -87.803983
1101  2011-09-07  NaN  41.984740 -87.804367
1102  2011-09-07  NaN  41.984932 -87.804943
1103  2011-09-07  NaN  41.985268 -87.805711
1104  2011-09-07  NaN  41.985508 -87.806143
1105  2011-09-07  NaN  41.985652 -87.806479
1106  2011-09-07  NaN  41.985796 -87.806767
1107  2011-09-07  NaN  41.985652 -87.804079
1108  2011-09-07  NaN  41.985988 -87.804655
1109  2011-09-07  NaN  41.986324 -87.805039
1110  2011-09-07  NaN  41.986564 -87.805375
1111  2011-09-07  NaN  41.987140 -87.805519
1112  2011-09-07  NaN  41.987860 -87.805615
1113  2011-09-07  NaN  41.988292 -87.805615
1114  2011-09-07  NaN  41.988820 -87.805087
1115  2011-09-07  NaN  41.989204 -87.804655
1116  2011-09-07  NaN  41.989588 -87.804175
1117  2011-09-07  NaN  41.989972 -87.803791
1118  2011-09-07  NaN  41.990164 -87.803407
1119  2011-09-07  NaN  41.990452 -87.802975
1120  2011-09-07  NaN  41.990644 -87.802495
1121  2011-09-07  NaN  41.990644 -87.801775
1122  2011-09-07  NaN  41.990644 -87.801343
1123  2011-09-07  NaN  41.990596 -87.800815
1124  2011-09-07  NaN  41.990452 -87.800334
1125  2011-09-07  NaN  41.989876 -87.799998
1126  2011-09-07  NaN  41.989348 -87.799854
1127  2011-09-07  NaN  41.988724 -87.799710
1128  2011-09-07  NaN  41.988244 -87.799566
1129  2011-09-07  NaN  41.987668 -87.799902
1130  2011-09-07  NaN  41.987188 -87.800286
1131  2011-09-07  NaN  41.986612 -87.800670
1132  2011-09-07  NaN  41.986276 -87.801055
1133  2011-09-07  NaN  41.985796 -87.802207
1134  2011-09-07  NaN  41.985556 -87.802783
1135  2011-09-07  NaN  41.985460 -87.803167
1136  2011-09-07  NaN  41.986084 -87.803215
1137  2011-09-07  NaN  41.986852 -87.803023
1138  2011-09-07  NaN  41.987284 -87.802831
1139  2011-09-07  NaN  41.987764 -87.802495
1140  2011-09-07  NaN  41.988724 -87.801775
1141  2011-09-07  NaN  41.989108 -87.801439
1142  2011-09-07  NaN  41.989540 -87.801103
1143  2011-09-07  NaN  41.989972 -87.800574
1144  2011-09-07  NaN  41.988100 -87.802783
1145  2011-09-07  NaN  41.987716 -87.803407
1146  2011-09-07  NaN  41.987476 -87.803887
1147  2011-09-07  NaN  41.987140 -87.804271
1148  2011-09-07  NaN  41.986900 -87.804895
1149  2011-09-07  NaN  41.986660 -87.805087
1150  2011-09-07  NaN  41.989636 -87.803647
1151  2011-09-07  NaN  41.989156 -87.803359
1152  2011-09-07  NaN  41.988676 -87.803167
1153  2011-09-07  NaN  41.988388 -87.803071
1154  2011-09-07  NaN  41.987572 -87.802111
1155  2011-09-07  NaN  41.987380 -87.801679
1156  2011-09-07  NaN  41.987188 -87.801247
1157  2011-09-07  NaN  41.986996 -87.800766
1158  2011-09-07  NaN  41.986132 -87.806143
1159  2011-09-07  NaN  41.985844 -87.806479
1160  2011-09-07  NaN  41.990692 -87.799998
1161  2011-09-07  NaN  41.991076 -87.799662
1162  2011-09-07  NaN  41.991364 -87.799566
1163  2011-09-07  NaN  41.984452 -87.805423
1164  2011-09-07  NaN  41.983924 -87.805327
1165  2011-09-07  NaN  41.983252 -87.805327
1166  2011-09-07  NaN  41.982868 -87.805327
1167  2011-09-07  NaN  41.983876 -87.803695
1168  2011-09-07  NaN  41.983492 -87.803743
1169  2011-09-07  NaN  41.983156 -87.803695
1170  2011-09-07  NaN  41.983204 -87.802015
1171  2011-09-07  NaN  41.982916 -87.801967
1172  2011-09-07  NaN  41.982868 -87.798270
1173  2011-09-07  NaN  41.982820 -87.799614
1174  2011-09-07  NaN  41.982772 -87.800430
1175  2011-09-07  NaN  41.982772 -87.801343
1176  2011-09-07  NaN  41.982772 -87.802351
1177  2011-09-07  NaN  41.982772 -87.803023
1178  2011-09-07  NaN  41.982772 -87.803311
1179  2011-09-07  NaN  41.982724 -87.804175
1180  2011-09-07  NaN  41.982724 -87.804799
1181  2011-09-07  NaN  41.982772 -87.806335
1182  2011-09-07  NaN  41.983060 -87.806959
1183  2011-09-07  NaN  41.983540 -87.807007
1184  2011-09-07  NaN  41.983924 -87.806911
1185  2011-09-07  NaN  41.984404 -87.806911
1186  2011-09-07  NaN  41.984980 -87.806863
1187  2011-09-07  NaN  41.985604 -87.806959
1188  2011-09-07  NaN  41.986372 -87.806863
1189  2011-09-07  NaN  41.986804 -87.806815
1190  2011-09-07  NaN  41.987284 -87.806863
1191  2011-09-07  NaN  41.987620 -87.806863
1192  2011-09-07  NaN  41.987956 -87.806911
1193  2011-09-07  NaN  41.988484 -87.806911
1194  2011-09-07  NaN  41.989108 -87.806911
1195  2011-09-07  NaN  41.989540 -87.806863
1196  2011-09-07  NaN  41.989876 -87.806911
1197  2011-09-07  NaN  41.990452 -87.806911
1198  2011-09-07  NaN  41.990932 -87.806959
1199  2011-09-07  NaN  41.991268 -87.806911
1200  2011-09-07  NaN  41.991700 -87.806815
1201  2011-09-07  NaN  41.992372 -87.806863
1202  2011-09-07  NaN  41.992996 -87.806767
1203  2011-09-07  NaN  41.993428 -87.806863
1204  2011-09-07  NaN  41.993908 -87.806863
1205  2011-09-07  NaN  41.994340 -87.806863
1206  2011-09-07  NaN  41.994820 -87.806911
1207  2011-09-07  NaN  41.995300 -87.806767
1208  2011-09-07  NaN  41.995588 -87.806623
1209  2011-09-07  NaN  41.995300 -87.805999
1210  2011-09-07  NaN  41.995012 -87.805567
1211  2011-09-07  NaN  41.994676 -87.805039
1212  2011-09-07  NaN  41.994292 -87.804319
1213  2011-09-07  NaN  41.994100 -87.804079
1214  2011-09-07  NaN  41.993908 -87.803695
1215  2011-09-07  NaN  41.993668 -87.803167
1216  2011-09-07  NaN  41.993380 -87.802687
1217  2011-09-07  NaN  41.992948 -87.802015
1218  2011-09-07  NaN  41.992756 -87.801631
1219  2011-09-07  NaN  41.992228 -87.800863
1220  2011-09-07  NaN  41.992084 -87.800430
1221  2011-09-07  NaN  41.991892 -87.800094
1222  2011-09-07  NaN  41.991700 -87.799662
1223  2011-09-07  NaN  41.991364 -87.799182
1224  2011-09-07  NaN  41.991028 -87.798462
1225  2011-09-07  NaN  41.990788 -87.798030
1226  2011-09-07  NaN  41.990500 -87.797550
1227  2011-09-07  NaN  41.990260 -87.797310
1228  2011-09-07  NaN  41.989828 -87.796494
1229  2011-09-07  NaN  41.989348 -87.795630
1230  2011-09-07  NaN  41.989060 -87.795102
1231  2011-09-07  NaN  41.988676 -87.794430
1232  2011-09-07  NaN  41.988388 -87.794046
1233  2011-09-07  NaN  41.988052 -87.793566
1234  2011-09-07  NaN  41.987812 -87.792894
1235  2011-09-07  NaN  41.987524 -87.792414
1236  2011-09-07  NaN  41.987284 -87.791982
1237  2011-09-07  NaN  41.986996 -87.791502
1238  2011-09-07  NaN  41.986708 -87.791214
1239  2011-09-07  NaN  41.986564 -87.790878
1240  2011-09-07  NaN  41.986372 -87.790350
1241  2011-09-07  NaN  41.986084 -87.789870
1242  2011-09-07  NaN  41.985700 -87.789342
1243  2011-09-07  NaN  41.985460 -87.788766
1244  2011-09-07  NaN  41.985172 -87.788430
1245  2011-09-07  NaN  41.984452 -87.787710
1246  2011-09-07  NaN  41.984260 -87.788286
1247  2011-09-07  NaN  41.984548 -87.788718
1248  2011-09-07  NaN  41.984884 -87.789390
1249  2011-09-07  NaN  41.985076 -87.789870
1250  2011-09-07  NaN  41.985268 -87.790350
1251  2011-09-07  NaN  41.985556 -87.790926
1252  2011-09-07  NaN  41.985748 -87.791262
1253  2011-09-07  NaN  41.985940 -87.791406
1254  2011-09-07  NaN  41.986276 -87.790926
1255  2011-09-07  NaN  41.985652 -87.791790
1256  2011-09-07  NaN  41.985508 -87.792174
1257  2011-09-07  NaN  41.985316 -87.792510
1258  2011-09-07  NaN  41.985220 -87.792894
1259  2011-09-07  NaN  41.985076 -87.793134
1260  2011-09-07  NaN  41.986084 -87.807439
1261  2011-09-07  NaN  41.988916 -87.805711
1262  2011-09-07  NaN  41.989588 -87.805663
1263  2011-09-07  NaN  41.990164 -87.805663
1264  2011-09-07  NaN  41.990548 -87.805615
1265  2011-09-07  NaN  41.991076 -87.805711
1266  2011-09-07  NaN  41.991508 -87.805711
1267  2011-09-07  NaN  41.992036 -87.805615
1268  2011-09-07  NaN  41.992420 -87.805711
1269  2011-09-07  NaN  41.992948 -87.805711
1270  2011-09-07  NaN  41.993716 -87.805615
1271  2011-09-07  NaN  41.994340 -87.805663
1272  2011-09-07  NaN  41.994724 -87.805615
1273  2011-09-07  NaN  41.993428 -87.805999
1274  2011-09-07  NaN  41.993092 -87.805135
1275  2011-09-07  NaN  41.992804 -87.804655
1276  2011-09-07  NaN  41.992516 -87.804175
1277  2011-09-07  NaN  41.992180 -87.803599
1278  2011-09-07  NaN  41.991892 -87.802927
1279  2011-09-07  NaN  41.991556 -87.802495
1280  2011-09-07  NaN  41.991460 -87.802063
1281  2011-09-07  NaN  41.991124 -87.801487
1282  2011-09-07  NaN  41.990884 -87.801007
1283  2011-09-07  NaN  41.992180 -87.801391
1284  2011-09-07  NaN  41.991940 -87.801679
1285  2011-09-07  NaN  41.991652 -87.801967
1286  2011-09-07  NaN  41.993332 -87.803359
1287  2011-09-07  NaN  41.992612 -87.803599
1288  2011-09-07  NaN  41.991700 -87.803743
1289  2011-09-07  NaN  41.991220 -87.803695
1290  2011-09-07  NaN  41.990836 -87.803791
1291  2011-09-07  NaN  41.990404 -87.803839
1292  2011-09-07  NaN  41.992324 -87.804223
1293  2011-09-07  NaN  41.992276 -87.804847
1294  2011-09-07  NaN  41.992372 -87.805279
1295  2011-09-07  NaN  41.989924 -87.804223
1296  2011-09-07  NaN  41.989972 -87.804847
1297  2011-09-07  NaN  41.989924 -87.805231
1298  2011-09-07  NaN  41.986372 -87.807919
1299  2011-09-07  NaN  41.986660 -87.808639
1300  2011-09-07  NaN  41.986900 -87.809071
1301  2011-09-07  NaN  41.987044 -87.809407
1302  2011-09-07  NaN  41.987236 -87.809839
1303  2011-09-07  NaN  41.987332 -87.810271
1304  2011-09-07  NaN  41.987620 -87.810559
1305  2011-09-07  NaN  41.987956 -87.811135
1306  2011-09-07  NaN  41.988052 -87.811567
1307  2011-09-07  NaN  41.988196 -87.811759
1308  2011-09-07  NaN  41.988388 -87.811999
1309  2011-09-07  NaN  41.988676 -87.812719
1310  2011-09-07  NaN  41.990644 -87.816703
1311  2011-09-07  NaN  41.990980 -87.817567
1312  2011-09-07  NaN  41.991460 -87.818095
1313  2011-09-07  NaN  41.991700 -87.818719
1314  2011-09-07  NaN  41.991844 -87.819055
1315  2011-09-07  NaN  41.991940 -87.819439
1316  2011-09-07  NaN  41.992276 -87.820015
1317  2011-09-07  NaN  41.992660 -87.820639
1318  2011-09-07  NaN  41.992900 -87.821215
1319  2011-09-07  NaN  41.993188 -87.821695
1320  2011-09-07  NaN  41.993236 -87.822032
1321  2011-09-07  NaN  41.987764 -87.811903
1322  2011-09-07  NaN  41.986996 -87.811855
1323  2011-09-07  NaN  41.986564 -87.811951
1324  2011-09-07  NaN  41.986036 -87.811951
1325  2011-09-07  NaN  41.985652 -87.811807
1326  2011-09-07  NaN  41.985268 -87.811759
1327  2011-09-07  NaN  41.984884 -87.811855
1328  2011-09-07  NaN  41.984404 -87.811855
1329  2011-09-07  NaN  41.983924 -87.811903
1330  2011-09-07  NaN  41.983540 -87.811951
1331  2011-09-07  NaN  41.983108 -87.811903
1332  2011-09-07  NaN  41.982724 -87.811903
1333  2011-09-07  NaN  41.982628 -87.811519
1334  2011-09-07  NaN  41.982628 -87.810847
1335  2011-09-07  NaN  41.982628 -87.810127
1336  2011-09-07  NaN  41.982676 -87.809407
1337  2011-09-07  NaN  41.982676 -87.808543
1338  2011-09-07  NaN  41.982916 -87.810655
1339  2011-09-07  NaN  41.983492 -87.810655
1340  2011-09-07  NaN  41.984068 -87.810607
1341  2011-09-07  NaN  41.984596 -87.810511
1342  2011-09-07  NaN  41.984980 -87.810511
1343  2011-09-07  NaN  41.985604 -87.810559
1344  2011-09-07  NaN  41.985940 -87.810463
1345  2011-09-07  NaN  41.986420 -87.810415
1346  2011-09-07  NaN  41.986900 -87.810319
1347  2011-09-07  NaN  41.987188 -87.810319
1348  2011-09-07  NaN  41.987716 -87.810079
1349  2011-09-07  NaN  41.987812 -87.809647
1350  2011-09-07  NaN  41.987812 -87.809119
1351  2011-09-07  NaN  41.987812 -87.808687
1352  2011-09-07  NaN  41.987764 -87.808447
1353  2011-09-07  NaN  41.987380 -87.808447
1354  2011-09-07  NaN  41.987044 -87.808399
1355  2011-09-07  NaN  41.986564 -87.808351
1356  2011-09-07  NaN  41.989300 -87.810031
1357  2011-09-07  NaN  41.989492 -87.810031
1358  2011-09-07  NaN  41.989828 -87.810079
1359  2011-09-07  NaN  41.989828 -87.809407
1360  2011-09-07  NaN  41.989780 -87.808927
1361  2011-09-07  NaN  41.989828 -87.808351
1362  2011-09-07  NaN  41.989828 -87.808015
1363  2011-09-07  NaN  41.989924 -87.806959
1364  2011-09-07  NaN  41.991844 -87.808255
1365  2011-09-07  NaN  41.991364 -87.808351
1366  2011-09-07  NaN  41.990788 -87.808255
1367  2011-09-07  NaN  41.990356 -87.808351
1368  2011-09-07  NaN  41.989444 -87.808303
1369  2011-09-07  NaN  41.989012 -87.808351
1370  2011-09-07  NaN  41.988436 -87.808399
1371  2011-09-07  NaN  41.992036 -87.807775
1372  2011-09-07  NaN  41.992084 -87.807247
1373  2011-09-07  NaN  41.985316 -87.809839
1374  2011-09-07  NaN  41.985268 -87.809983
1375  2011-09-07  NaN  41.985268 -87.810319
1376  2011-09-07  NaN  41.985172 -87.810991
1377  2011-09-07  NaN  41.985220 -87.811519
1378  2011-09-07  NaN  41.985940 -87.809503
1379  2011-09-07  NaN  41.985652 -87.809407
1380  2011-09-07  NaN  41.985172 -87.809503
1381  2011-09-07  NaN  41.984788 -87.809503
1382  2011-09-07  NaN  41.984404 -87.809455
1383  2011-09-07  NaN  41.984164 -87.809311
1384  2011-09-07  NaN  41.984260 -87.808687
1385  2011-09-07  NaN  41.984164 -87.808015
1386  2011-09-07  NaN  41.984116 -87.807199
1387  2011-09-07  NaN  41.983636 -87.807439
1388  2011-09-07  NaN  41.983588 -87.808159
1389  2011-09-07  NaN  41.983588 -87.808927
1390  2011-09-07  NaN  41.983588 -87.809551
1391  2011-09-07  NaN  41.983492 -87.809887
1392  2011-09-07  NaN  41.983588 -87.810271
1393  2011-09-07  NaN  41.985508 -87.815983
1394  2011-09-07  NaN  41.985604 -87.815215
1395  2011-09-07  NaN  41.985652 -87.814639
1396  2011-09-07  NaN  41.985652 -87.814063
1397  2011-09-07  NaN  41.985604 -87.813391
1398  2011-09-07  NaN  41.985652 -87.813055
1399  2011-09-07  NaN  41.985364 -87.812767
1400  2011-09-07  NaN  41.985124 -87.812575
1401  2011-09-07  NaN  41.984884 -87.815983
1402  2011-09-07  NaN  41.984932 -87.815359
1403  2011-09-07  NaN  41.984884 -87.814783
1404  2011-09-07  NaN  41.984884 -87.814159
1405  2011-09-07  NaN  41.984884 -87.813535
1406  2011-09-07  NaN  41.984884 -87.813199
1407  2011-09-07  NaN  41.984068 -87.816079
1408  2011-09-07  NaN  41.984068 -87.815407
1409  2011-09-07  NaN  41.984116 -87.814879
1410  2011-09-07  NaN  41.984068 -87.814351
1411  2011-09-07  NaN  41.984068 -87.813727
1412  2011-09-07  NaN  41.984020 -87.813295
1413  2011-09-07  NaN  41.983876 -87.813103
1414  2011-09-07  NaN  41.983396 -87.816079
1415  2011-09-07  NaN  41.983156 -87.815311
1416  2011-09-07  NaN  41.982916 -87.814495
1417  2011-09-07  NaN  41.982820 -87.814111
1418  2011-09-07  NaN  41.982676 -87.813487
1419  2011-09-07  NaN  41.982676 -87.812863
1420  2011-09-07  NaN  41.982676 -87.812287
1421  2011-09-07  NaN  41.984068 -87.815023
1422  2011-09-07  NaN  41.983684 -87.814831
1423  2011-09-07  NaN  41.983444 -87.814447
1424  2011-09-07  NaN  41.983348 -87.814111
1425  2011-09-07  NaN  41.983252 -87.813727
1426  2011-09-07  NaN  41.983204 -87.813247
1427  2011-09-07  NaN  41.984452 -87.813199
1428  2011-09-07  NaN  41.983492 -87.813199
1429  2011-09-07  NaN  41.984500 -87.815983
1430  2011-09-07  NaN  41.993620 -87.821984
1431  2011-09-07  NaN  41.994964 -87.821887
1432  2011-09-07  NaN  41.996644 -87.821647
1433  2011-09-07  NaN  41.996836 -87.821359
1434  2011-09-07  NaN  41.996836 -87.820735
1435  2011-09-07  NaN  41.996788 -87.820303
1436  2011-09-07  NaN  41.996836 -87.819967
1437  2011-09-07  NaN  41.996884 -87.819439
1438  2011-09-07  NaN  41.996884 -87.819007
1439  2011-09-07  NaN  41.996884 -87.818335
1440  2011-09-07  NaN  41.996932 -87.817855
1441  2011-09-07  NaN  41.996932 -87.817519
1442  2011-09-07  NaN  41.996884 -87.816991
1443  2011-09-07  NaN  41.996884 -87.816463
1444  2011-09-07  NaN  41.996932 -87.815983
1445  2011-09-07  NaN  41.996980 -87.815503
1446  2011-09-07  NaN  41.996932 -87.815071
1447  2011-09-07  NaN  41.996932 -87.814687
1448  2011-09-07  NaN  41.996980 -87.814111
1449  2011-09-07  NaN  41.996980 -87.813775
1450  2011-09-07  NaN  41.996932 -87.813391
1451  2011-09-07  NaN  41.996980 -87.812767
1452  2011-09-07  NaN  41.996980 -87.812335
1453  2011-09-07  NaN  41.997028 -87.811855
1454  2011-09-07  NaN  41.996932 -87.811183
1455  2011-09-07  NaN  41.996932 -87.810607
1456  2011-09-07  NaN  41.996980 -87.810127
1457  2011-09-07  NaN  41.996308 -87.809023
1458  2011-09-07  NaN  41.996164 -87.808543
1459  2011-09-07  NaN  41.995876 -87.808255
1460  2011-09-07  NaN  41.995732 -87.807871
1461  2011-09-07  NaN  41.995588 -87.807679
1462  2011-09-07  NaN  41.995348 -87.807103
1463  2011-09-07  NaN  41.996500 -87.818911
1464  2011-09-07  NaN  41.995732 -87.818959
1465  2011-09-07  NaN  41.994820 -87.819007
1466  2011-09-07  NaN  41.994484 -87.819103
1467  2011-09-07  NaN  41.992900 -87.819103
1468  2011-09-07  NaN  41.992420 -87.819055
1469  2011-09-07  NaN  41.992132 -87.819007
1470  2011-09-07  NaN  41.996020 -87.821263
1471  2011-09-07  NaN  41.996020 -87.820687
1472  2011-09-07  NaN  41.995972 -87.820207
1473  2011-09-07  NaN  41.996020 -87.819583
1474  2011-09-07  NaN  41.996020 -87.818623
1475  2011-09-07  NaN  41.996020 -87.817951
1476  2011-09-07  NaN  41.996068 -87.817471
1477  2011-09-07  NaN  41.996020 -87.816991
1478  2011-09-07  NaN  41.995012 -87.821455
1479  2011-09-07  NaN  41.995012 -87.820975
1480  2011-09-07  NaN  41.995012 -87.820399
1481  2011-09-07  NaN  41.995012 -87.820015
1482  2011-09-07  NaN  41.995012 -87.819439

In [487]:
spray_df.Time.value_counts().head()

7:44:32 PM    541
8:57:46 PM      5
9:31:27 PM      5
9:35:47 PM      5
9:37:27 PM      5
Name: Time, dtype: int64

In [488]:
spray_df.duplicated().sum()[spray_df.duplicated().sum() > 0]

array([541], dtype=int64)

In [491]:
duplicates = spray_df[spray_df.duplicated()]
print(duplicates)
duplicates.shape

            Date        Time   Latitude  Longitude
485   2011-09-07  7:43:40 PM  41.983917 -87.793088
490   2011-09-07  7:44:32 PM  41.986460 -87.794225
491   2011-09-07  7:44:32 PM  41.986460 -87.794225
492   2011-09-07  7:44:32 PM  41.986460 -87.794225
493   2011-09-07  7:44:32 PM  41.986460 -87.794225
494   2011-09-07  7:44:32 PM  41.986460 -87.794225
495   2011-09-07  7:44:32 PM  41.986460 -87.794225
496   2011-09-07  7:44:32 PM  41.986460 -87.794225
497   2011-09-07  7:44:32 PM  41.986460 -87.794225
498   2011-09-07  7:44:32 PM  41.986460 -87.794225
499   2011-09-07  7:44:32 PM  41.986460 -87.794225
500   2011-09-07  7:44:32 PM  41.986460 -87.794225
501   2011-09-07  7:44:32 PM  41.986460 -87.794225
502   2011-09-07  7:44:32 PM  41.986460 -87.794225
503   2011-09-07  7:44:32 PM  41.986460 -87.794225
504   2011-09-07  7:44:32 PM  41.986460 -87.794225
505   2011-09-07  7:44:32 PM  41.986460 -87.794225
506   2011-09-07  7:44:32 PM  41.986460 -87.794225
507   2011-09-07  7:44:32 PM  41.986460 -87.794225
508   2011-09-07  7:44:32 PM  41.986460 -87.794225
509   2011-09-07  7:44:32 PM  41.986460 -87.794225
510   2011-09-07  7:44:32 PM  41.986460 -87.794225
511   2011-09-07  7:44:32 PM  41.986460 -87.794225
512   2011-09-07  7:44:32 PM  41.986460 -87.794225
513   2011-09-07  7:44:32 PM  41.986460 -87.794225
514   2011-09-07  7:44:32 PM  41.986460 -87.794225
515   2011-09-07  7:44:32 PM  41.986460 -87.794225
516   2011-09-07  7:44:32 PM  41.986460 -87.794225
517   2011-09-07  7:44:32 PM  41.986460 -87.794225
518   2011-09-07  7:44:32 PM  41.986460 -87.794225
519   2011-09-07  7:44:32 PM  41.986460 -87.794225
520   2011-09-07  7:44:32 PM  41.986460 -87.794225
521   2011-09-07  7:44:32 PM  41.986460 -87.794225
522   2011-09-07  7:44:32 PM  41.986460 -87.794225
523   2011-09-07  7:44:32 PM  41.986460 -87.794225
524   2011-09-07  7:44:32 PM  41.986460 -87.794225
525   2011-09-07  7:44:32 PM  41.986460 -87.794225
526   2011-09-07  7:44:32 PM  41.986460 -87.794225
527   2011-09-07  7:44:32 PM  41.986460 -87.794225
528   2011-09-07  7:44:32 PM  41.986460 -87.794225
529   2011-09-07  7:44:32 PM  41.986460 -87.794225
530   2011-09-07  7:44:32 PM  41.986460 -87.794225
531   2011-09-07  7:44:32 PM  41.986460 -87.794225
532   2011-09-07  7:44:32 PM  41.986460 -87.794225
533   2011-09-07  7:44:32 PM  41.986460 -87.794225
534   2011-09-07  7:44:32 PM  41.986460 -87.794225
535   2011-09-07  7:44:32 PM  41.986460 -87.794225
536   2011-09-07  7:44:32 PM  41.986460 -87.794225
537   2011-09-07  7:44:32 PM  41.986460 -87.794225
538   2011-09-07  7:44:32 PM  41.986460 -87.794225
539   2011-09-07  7:44:32 PM  41.986460 -87.794225
540   2011-09-07  7:44:32 PM  41.986460 -87.794225
541   2011-09-07  7:44:32 PM  41.986460 -87.794225
542   2011-09-07  7:44:32 PM  41.986460 -87.794225
543   2011-09-07  7:44:32 PM  41.986460 -87.794225
544   2011-09-07  7:44:32 PM  41.986460 -87.794225
545   2011-09-07  7:44:32 PM  41.986460 -87.794225
546   2011-09-07  7:44:32 PM  41.986460 -87.794225
547   2011-09-07  7:44:32 PM  41.986460 -87.794225
548   2011-09-07  7:44:32 PM  41.986460 -87.794225
549   2011-09-07  7:44:32 PM  41.986460 -87.794225
550   2011-09-07  7:44:32 PM  41.986460 -87.794225
551   2011-09-07  7:44:32 PM  41.986460 -87.794225
552   2011-09-07  7:44:32 PM  41.986460 -87.794225
553   2011-09-07  7:44:32 PM  41.986460 -87.794225
554   2011-09-07  7:44:32 PM  41.986460 -87.794225
555   2011-09-07  7:44:32 PM  41.986460 -87.794225
556   2011-09-07  7:44:32 PM  41.986460 -87.794225
557   2011-09-07  7:44:32 PM  41.986460 -87.794225
558   2011-09-07  7:44:32 PM  41.986460 -87.794225
559   2011-09-07  7:44:32 PM  41.986460 -87.794225
560   2011-09-07  7:44:32 PM  41.986460 -87.794225
561   2011-09-07  7:44:32 PM  41.986460 -87.794225
562   2011-09-07  7:44:32 PM  41.986460 -87.794225
563   2011-09-07  7:44:32 PM  41.986460 -87.794225
564   2011-09-07  7:44:32 PM  41.986460 -87.794225
565   2011-09-07  7:44:32 PM  41.986460 -87.794225
566   2011-09-07  7:44:32 PM  41.986460 -87.794225
567   2011-09-07  7:44:32 PM  41.986460 -87.794225
568   2011-09-07  7:44:32 PM  41.986460 -87.794225
569   2011-09-07  7:44:32 PM  41.986460 -87.794225
570   2011-09-07  7:44:32 PM  41.986460 -87.794225
571   2011-09-07  7:44:32 PM  41.986460 -87.794225
572   2011-09-07  7:44:32 PM  41.986460 -87.794225
573   2011-09-07  7:44:32 PM  41.986460 -87.794225
574   2011-09-07  7:44:32 PM  41.986460 -87.794225
575   2011-09-07  7:44:32 PM  41.986460 -87.794225
576   2011-09-07  7:44:32 PM  41.986460 -87.794225
577   2011-09-07  7:44:32 PM  41.986460 -87.794225
578   2011-09-07  7:44:32 PM  41.986460 -87.794225
579   2011-09-07  7:44:32 PM  41.986460 -87.794225
580   2011-09-07  7:44:32 PM  41.986460 -87.794225
581   2011-09-07  7:44:32 PM  41.986460 -87.794225
582   2011-09-07  7:44:32 PM  41.986460 -87.794225
583   2011-09-07  7:44:32 PM  41.986460 -87.794225
584   2011-09-07  7:44:32 PM  41.986460 -87.794225
585   2011-09-07  7:44:32 PM  41.986460 -87.794225
586   2011-09-07  7:44:32 PM  41.986460 -87.794225
587   2011-09-07  7:44:32 PM  41.986460 -87.794225
588   2011-09-07  7:44:32 PM  41.986460 -87.794225
589   2011-09-07  7:44:32 PM  41.986460 -87.794225
590   2011-09-07  7:44:32 PM  41.986460 -87.794225
591   2011-09-07  7:44:32 PM  41.986460 -87.794225
592   2011-09-07  7:44:32 PM  41.986460 -87.794225
593   2011-09-07  7:44:32 PM  41.986460 -87.794225
594   2011-09-07  7:44:32 PM  41.986460 -87.794225
595   2011-09-07  7:44:32 PM  41.986460 -87.794225
596   2011-09-07  7:44:32 PM  41.986460 -87.794225
597   2011-09-07  7:44:32 PM  41.986460 -87.794225
598   2011-09-07  7:44:32 PM  41.986460 -87.794225
599   2011-09-07  7:44:32 PM  41.986460 -87.794225
600   2011-09-07  7:44:32 PM  41.986460 -87.794225
601   2011-09-07  7:44:32 PM  41.986460 -87.794225
602   2011-09-07  7:44:32 PM  41.986460 -87.794225
603   2011-09-07  7:44:32 PM  41.986460 -87.794225
604   2011-09-07  7:44:32 PM  41.986460 -87.794225
605   2011-09-07  7:44:32 PM  41.986460 -87.794225
606   2011-09-07  7:44:32 PM  41.986460 -87.794225
607   2011-09-07  7:44:32 PM  41.986460 -87.794225
608   2011-09-07  7:44:32 PM  41.986460 -87.794225
609   2011-09-07  7:44:32 PM  41.986460 -87.794225
610   2011-09-07  7:44:32 PM  41.986460 -87.794225
611   2011-09-07  7:44:32 PM  41.986460 -87.794225
612   2011-09-07  7:44:32 PM  41.986460 -87.794225
613   2011-09-07  7:44:32 PM  41.986460 -87.794225
614   2011-09-07  7:44:32 PM  41.986460 -87.794225
615   2011-09-07  7:44:32 PM  41.986460 -87.794225
616   2011-09-07  7:44:32 PM  41.986460 -87.794225
617   2011-09-07  7:44:32 PM  41.986460 -87.794225
618   2011-09-07  7:44:32 PM  41.986460 -87.794225
619   2011-09-07  7:44:32 PM  41.986460 -87.794225
620   2011-09-07  7:44:32 PM  41.986460 -87.794225
621   2011-09-07  7:44:32 PM  41.986460 -87.794225
622   2011-09-07  7:44:32 PM  41.986460 -87.794225
623   2011-09-07  7:44:32 PM  41.986460 -87.794225
624   2011-09-07  7:44:32 PM  41.986460 -87.794225
625   2011-09-07  7:44:32 PM  41.986460 -87.794225
626   2011-09-07  7:44:32 PM  41.986460 -87.794225
627   2011-09-07  7:44:32 PM  41.986460 -87.794225
628   2011-09-07  7:44:32 PM  41.986460 -87.794225
629   2011-09-07  7:44:32 PM  41.986460 -87.794225
630   2011-09-07  7:44:32 PM  41.986460 -87.794225
631   2011-09-07  7:44:32 PM  41.986460 -87.794225
632   2011-09-07  7:44:32 PM  41.986460 -87.794225
633   2011-09-07  7:44:32 PM  41.986460 -87.794225
634   2011-09-07  7:44:32 PM  41.986460 -87.794225
635   2011-09-07  7:44:32 PM  41.986460 -87.794225
636   2011-09-07  7:44:32 PM  41.986460 -87.794225
637   2011-09-07  7:44:32 PM  41.986460 -87.794225
638   2011-09-07  7:44:32 PM  41.986460 -87.794225
639   2011-09-07  7:44:32 PM  41.986460 -87.794225
640   2011-09-07  7:44:32 PM  41.986460 -87.794225
641   2011-09-07  7:44:32 PM  41.986460 -87.794225
642   2011-09-07  7:44:32 PM  41.986460 -87.794225
643   2011-09-07  7:44:32 PM  41.986460 -87.794225
644   2011-09-07  7:44:32 PM  41.986460 -87.794225
645   2011-09-07  7:44:32 PM  41.986460 -87.794225
646   2011-09-07  7:44:32 PM  41.986460 -87.794225
647   2011-09-07  7:44:32 PM  41.986460 -87.794225
648   2011-09-07  7:44:32 PM  41.986460 -87.794225
649   2011-09-07  7:44:32 PM  41.986460 -87.794225
650   2011-09-07  7:44:32 PM  41.986460 -87.794225
651   2011-09-07  7:44:32 PM  41.986460 -87.794225
652   2011-09-07  7:44:32 PM  41.986460 -87.794225
653   2011-09-07  7:44:32 PM  41.986460 -87.794225
654   2011-09-07  7:44:32 PM  41.986460 -87.794225
655   2011-09-07  7:44:32 PM  41.986460 -87.794225
656   2011-09-07  7:44:32 PM  41.986460 -87.794225
657   2011-09-07  7:44:32 PM  41.986460 -87.794225
658   2011-09-07  7:44:32 PM  41.986460 -87.794225
659   2011-09-07  7:44:32 PM  41.986460 -87.794225
660   2011-09-07  7:44:32 PM  41.986460 -87.794225
661   2011-09-07  7:44:32 PM  41.986460 -87.794225
662   2011-09-07  7:44:32 PM  41.986460 -87.794225
663   2011-09-07  7:44:32 PM  41.986460 -87.794225
664   2011-09-07  7:44:32 PM  41.986460 -87.794225
665   2011-09-07  7:44:32 PM  41.986460 -87.794225
666   2011-09-07  7:44:32 PM  41.986460 -87.794225
667   2011-09-07  7:44:32 PM  41.986460 -87.794225
668   2011-09-07  7:44:32 PM  41.986460 -87.794225
669   2011-09-07  7:44:32 PM  41.986460 -87.794225
670   2011-09-07  7:44:32 PM  41.986460 -87.794225
671   2011-09-07  7:44:32 PM  41.986460 -87.794225
672   2011-09-07  7:44:32 PM  41.986460 -87.794225
673   2011-09-07  7:44:32 PM  41.986460 -87.794225
674   2011-09-07  7:44:32 PM  41.986460 -87.794225
675   2011-09-07  7:44:32 PM  41.986460 -87.794225
676   2011-09-07  7:44:32 PM  41.986460 -87.794225
677   2011-09-07  7:44:32 PM  41.986460 -87.794225
678   2011-09-07  7:44:32 PM  41.986460 -87.794225
679   2011-09-07  7:44:32 PM  41.986460 -87.794225
680   2011-09-07  7:44:32 PM  41.986460 -87.794225
681   2011-09-07  7:44:32 PM  41.986460 -87.794225
682   2011-09-07  7:44:32 PM  41.986460 -87.794225
683   2011-09-07  7:44:32 PM  41.986460 -87.794225
684   2011-09-07  7:44:32 PM  41.986460 -87.794225
685   2011-09-07  7:44:32 PM  41.986460 -87.794225
686   2011-09-07  7:44:32 PM  41.986460 -87.794225
687   2011-09-07  7:44:32 PM  41.986460 -87.794225
688   2011-09-07  7:44:32 PM  41.986460 -87.794225
689   2011-09-07  7:44:32 PM  41.986460 -87.794225
690   2011-09-07  7:44:32 PM  41.986460 -87.794225
691   2011-09-07  7:44:32 PM  41.986460 -87.794225
692   2011-09-07  7:44:32 PM  41.986460 -87.794225
693   2011-09-07  7:44:32 PM  41.986460 -87.794225
694   2011-09-07  7:44:32 PM  41.986460 -87.794225
695   2011-09-07  7:44:32 PM  41.986460 -87.794225
696   2011-09-07  7:44:32 PM  41.986460 -87.794225
697   2011-09-07  7:44:32 PM  41.986460 -87.794225
698   2011-09-07  7:44:32 PM  41.986460 -87.794225
699   2011-09-07  7:44:32 PM  41.986460 -87.794225
700   2011-09-07  7:44:32 PM  41.986460 -87.794225
701   2011-09-07  7:44:32 PM  41.986460 -87.794225
702   2011-09-07  7:44:32 PM  41.986460 -87.794225
703   2011-09-07  7:44:32 PM  41.986460 -87.794225
704   2011-09-07  7:44:32 PM  41.986460 -87.794225
705   2011-09-07  7:44:32 PM  41.986460 -87.794225
706   2011-09-07  7:44:32 PM  41.986460 -87.794225
707   2011-09-07  7:44:32 PM  41.986460 -87.794225
708   2011-09-07  7:44:32 PM  41.986460 -87.794225
709   2011-09-07  7:44:32 PM  41.986460 -87.794225
710   2011-09-07  7:44:32 PM  41.986460 -87.794225
711   2011-09-07  7:44:32 PM  41.986460 -87.794225
712   2011-09-07  7:44:32 PM  41.986460 -87.794225
713   2011-09-07  7:44:32 PM  41.986460 -87.794225
714   2011-09-07  7:44:32 PM  41.986460 -87.794225
715   2011-09-07  7:44:32 PM  41.986460 -87.794225
716   2011-09-07  7:44:32 PM  41.986460 -87.794225
717   2011-09-07  7:44:32 PM  41.986460 -87.794225
718   2011-09-07  7:44:32 PM  41.986460 -87.794225
719   2011-09-07  7:44:32 PM  41.986460 -87.794225
720   2011-09-07  7:44:32 PM  41.986460 -87.794225
721   2011-09-07  7:44:32 PM  41.986460 -87.794225
722   2011-09-07  7:44:32 PM  41.986460 -87.794225
723   2011-09-07  7:44:32 PM  41.986460 -87.794225
724   2011-09-07  7:44:32 PM  41.986460 -87.794225
725   2011-09-07  7:44:32 PM  41.986460 -87.794225
726   2011-09-07  7:44:32 PM  41.986460 -87.794225
727   2011-09-07  7:44:32 PM  41.986460 -87.794225
728   2011-09-07  7:44:32 PM  41.986460 -87.794225
729   2011-09-07  7:44:32 PM  41.986460 -87.794225
730   2011-09-07  7:44:32 PM  41.986460 -87.794225
731   2011-09-07  7:44:32 PM  41.986460 -87.794225
732   2011-09-07  7:44:32 PM  41.986460 -87.794225
733   2011-09-07  7:44:32 PM  41.986460 -87.794225
734   2011-09-07  7:44:32 PM  41.986460 -87.794225
735   2011-09-07  7:44:32 PM  41.986460 -87.794225
736   2011-09-07  7:44:32 PM  41.986460 -87.794225
737   2011-09-07  7:44:32 PM  41.986460 -87.794225
738   2011-09-07  7:44:32 PM  41.986460 -87.794225
739   2011-09-07  7:44:32 PM  41.986460 -87.794225
740   2011-09-07  7:44:32 PM  41.986460 -87.794225
741   2011-09-07  7:44:32 PM  41.986460 -87.794225
742   2011-09-07  7:44:32 PM  41.986460 -87.794225
743   2011-09-07  7:44:32 PM  41.986460 -87.794225
744   2011-09-07  7:44:32 PM  41.986460 -87.794225
745   2011-09-07  7:44:32 PM  41.986460 -87.794225
746   2011-09-07  7:44:32 PM  41.986460 -87.794225
747   2011-09-07  7:44:32 PM  41.986460 -87.794225
748   2011-09-07  7:44:32 PM  41.986460 -87.794225
749   2011-09-07  7:44:32 PM  41.986460 -87.794225
750   2011-09-07  7:44:32 PM  41.986460 -87.794225
751   2011-09-07  7:44:32 PM  41.986460 -87.794225
752   2011-09-07  7:44:32 PM  41.986460 -87.794225
753   2011-09-07  7:44:32 PM  41.986460 -87.794225
754   2011-09-07  7:44:32 PM  41.986460 -87.794225
755   2011-09-07  7:44:32 PM  41.986460 -87.794225
756   2011-09-07  7:44:32 PM  41.986460 -87.794225
757   2011-09-07  7:44:32 PM  41.986460 -87.794225
758   2011-09-07  7:44:32 PM  41.986460 -87.794225
759   2011-09-07  7:44:32 PM  41.986460 -87.794225
760   2011-09-07  7:44:32 PM  41.986460 -87.794225
761   2011-09-07  7:44:32 PM  41.986460 -87.794225
762   2011-09-07  7:44:32 PM  41.986460 -87.794225
763   2011-09-07  7:44:32 PM  41.986460 -87.794225
764   2011-09-07  7:44:32 PM  41.986460 -87.794225
765   2011-09-07  7:44:32 PM  41.986460 -87.794225
766   2011-09-07  7:44:32 PM  41.986460 -87.794225
767   2011-09-07  7:44:32 PM  41.986460 -87.794225
768   2011-09-07  7:44:32 PM  41.986460 -87.794225
769   2011-09-07  7:44:32 PM  41.986460 -87.794225
770   2011-09-07  7:44:32 PM  41.986460 -87.794225
771   2011-09-07  7:44:32 PM  41.986460 -87.794225
772   2011-09-07  7:44:32 PM  41.986460 -87.794225
773   2011-09-07  7:44:32 PM  41.986460 -87.794225
774   2011-09-07  7:44:32 PM  41.986460 -87.794225
775   2011-09-07  7:44:32 PM  41.986460 -87.794225
776   2011-09-07  7:44:32 PM  41.986460 -87.794225
777   2011-09-07  7:44:32 PM  41.986460 -87.794225
778   2011-09-07  7:44:32 PM  41.986460 -87.794225
779   2011-09-07  7:44:32 PM  41.986460 -87.794225
780   2011-09-07  7:44:32 PM  41.986460 -87.794225
781   2011-09-07  7:44:32 PM  41.986460 -87.794225
782   2011-09-07  7:44:32 PM  41.986460 -87.794225
783   2011-09-07  7:44:32 PM  41.986460 -87.794225
784   2011-09-07  7:44:32 PM  41.986460 -87.794225
785   2011-09-07  7:44:32 PM  41.986460 -87.794225
786   2011-09-07  7:44:32 PM  41.986460 -87.794225
787   2011-09-07  7:44:32 PM  41.986460 -87.794225
788   2011-09-07  7:44:32 PM  41.986460 -87.794225
789   2011-09-07  7:44:32 PM  41.986460 -87.794225
790   2011-09-07  7:44:32 PM  41.986460 -87.794225
791   2011-09-07  7:44:32 PM  41.986460 -87.794225
792   2011-09-07  7:44:32 PM  41.986460 -87.794225
793   2011-09-07  7:44:32 PM  41.986460 -87.794225
794   2011-09-07  7:44:32 PM  41.986460 -87.794225
795   2011-09-07  7:44:32 PM  41.986460 -87.794225
796   2011-09-07  7:44:32 PM  41.986460 -87.794225
797   2011-09-07  7:44:32 PM  41.986460 -87.794225
798   2011-09-07  7:44:32 PM  41.986460 -87.794225
799   2011-09-07  7:44:32 PM  41.986460 -87.794225
800   2011-09-07  7:44:32 PM  41.986460 -87.794225
801   2011-09-07  7:44:32 PM  41.986460 -87.794225
802   2011-09-07  7:44:32 PM  41.986460 -87.794225
803   2011-09-07  7:44:32 PM  41.986460 -87.794225
804   2011-09-07  7:44:32 PM  41.986460 -87.794225
805   2011-09-07  7:44:32 PM  41.986460 -87.794225
806   2011-09-07  7:44:32 PM  41.986460 -87.794225
807   2011-09-07  7:44:32 PM  41.986460 -87.794225
808   2011-09-07  7:44:32 PM  41.986460 -87.794225
809   2011-09-07  7:44:32 PM  41.986460 -87.794225
810   2011-09-07  7:44:32 PM  41.986460 -87.794225
811   2011-09-07  7:44:32 PM  41.986460 -87.794225
812   2011-09-07  7:44:32 PM  41.986460 -87.794225
813   2011-09-07  7:44:32 PM  41.986460 -87.794225
814   2011-09-07  7:44:32 PM  41.986460 -87.794225
815   2011-09-07  7:44:32 PM  41.986460 -87.794225
816   2011-09-07  7:44:32 PM  41.986460 -87.794225
817   2011-09-07  7:44:32 PM  41.986460 -87.794225
818   2011-09-07  7:44:32 PM  41.986460 -87.794225
819   2011-09-07  7:44:32 PM  41.986460 -87.794225
820   2011-09-07  7:44:32 PM  41.986460 -87.794225
821   2011-09-07  7:44:32 PM  41.986460 -87.794225
822   2011-09-07  7:44:32 PM  41.986460 -87.794225
823   2011-09-07  7:44:32 PM  41.986460 -87.794225
824   2011-09-07  7:44:32 PM  41.986460 -87.794225
825   2011-09-07  7:44:32 PM  41.986460 -87.794225
826   2011-09-07  7:44:32 PM  41.986460 -87.794225
827   2011-09-07  7:44:32 PM  41.986460 -87.794225
828   2011-09-07  7:44:32 PM  41.986460 -87.794225
829   2011-09-07  7:44:32 PM  41.986460 -87.794225
830   2011-09-07  7:44:32 PM  41.986460 -87.794225
831   2011-09-07  7:44:32 PM  41.986460 -87.794225
832   2011-09-07  7:44:32 PM  41.986460 -87.794225
833   2011-09-07  7:44:32 PM  41.986460 -87.794225
834   2011-09-07  7:44:32 PM  41.986460 -87.794225
835   2011-09-07  7:44:32 PM  41.986460 -87.794225
836   2011-09-07  7:44:32 PM  41.986460 -87.794225
837   2011-09-07  7:44:32 PM  41.986460 -87.794225
838   2011-09-07  7:44:32 PM  41.986460 -87.794225
839   2011-09-07  7:44:32 PM  41.986460 -87.794225
840   2011-09-07  7:44:32 PM  41.986460 -87.794225
841   2011-09-07  7:44:32 PM  41.986460 -87.794225
842   2011-09-07  7:44:32 PM  41.986460 -87.794225
843   2011-09-07  7:44:32 PM  41.986460 -87.794225
844   2011-09-07  7:44:32 PM  41.986460 -87.794225
845   2011-09-07  7:44:32 PM  41.986460 -87.794225
846   2011-09-07  7:44:32 PM  41.986460 -87.794225
847   2011-09-07  7:44:32 PM  41.986460 -87.794225
848   2011-09-07  7:44:32 PM  41.986460 -87.794225
849   2011-09-07  7:44:32 PM  41.986460 -87.794225
850   2011-09-07  7:44:32 PM  41.986460 -87.794225
851   2011-09-07  7:44:32 PM  41.986460 -87.794225
852   2011-09-07  7:44:32 PM  41.986460 -87.794225
853   2011-09-07  7:44:32 PM  41.986460 -87.794225
854   2011-09-07  7:44:32 PM  41.986460 -87.794225
855   2011-09-07  7:44:32 PM  41.986460 -87.794225
856   2011-09-07  7:44:32 PM  41.986460 -87.794225
857   2011-09-07  7:44:32 PM  41.986460 -87.794225
858   2011-09-07  7:44:32 PM  41.986460 -87.794225
859   2011-09-07  7:44:32 PM  41.986460 -87.794225
860   2011-09-07  7:44:32 PM  41.986460 -87.794225
861   2011-09-07  7:44:32 PM  41.986460 -87.794225
862   2011-09-07  7:44:32 PM  41.986460 -87.794225
863   2011-09-07  7:44:32 PM  41.986460 -87.794225
864   2011-09-07  7:44:32 PM  41.986460 -87.794225
865   2011-09-07  7:44:32 PM  41.986460 -87.794225
866   2011-09-07  7:44:32 PM  41.986460 -87.794225
867   2011-09-07  7:44:32 PM  41.986460 -87.794225
868   2011-09-07  7:44:32 PM  41.986460 -87.794225
869   2011-09-07  7:44:32 PM  41.986460 -87.794225
870   2011-09-07  7:44:32 PM  41.986460 -87.794225
871   2011-09-07  7:44:32 PM  41.986460 -87.794225
872   2011-09-07  7:44:32 PM  41.986460 -87.794225
873   2011-09-07  7:44:32 PM  41.986460 -87.794225
874   2011-09-07  7:44:32 PM  41.986460 -87.794225
875   2011-09-07  7:44:32 PM  41.986460 -87.794225
876   2011-09-07  7:44:32 PM  41.986460 -87.794225
877   2011-09-07  7:44:32 PM  41.986460 -87.794225
878   2011-09-07  7:44:32 PM  41.986460 -87.794225
879   2011-09-07  7:44:32 PM  41.986460 -87.794225

(541, 4)